<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

<style type="text/css">

/* You can add global styles to this file, and also import other style files */

.page-item.active .page-link {
  z-index: 1;
  color: #ffffff !important;
  background-color: #545b62 !important;
  border-color: #545b62 !important;
}
.page-link {
  color: #ffffff !important;
  background-color: #6c757d !important;
  border: 1px solid #ffffff !important;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

section {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	background: radial-gradient (#333, #000);
	
}
.set {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.set div {
	position: absolute;
	display: block;
}
.set div:nth-child(1) {
	left: 60%;
	animation: animate 15s linear infinite; 
}
.set div:nth-child(2) {
	left: 20%;
	animation: animate 20s linear infinite;
}
.set div:nth-child(3) {
	left: 40%;
	animation: animate 25s linear infinite; 
}
.set div:nth-child(4) {
	left: 0%;
	animation: animate 15s linear infinite;
}
.set div:nth-child(5) {
	left: 80%;
	animation: animate 18s linear infinite;
}
.set div:nth-child(6) {
	left: 15%;
	animation: animate 12s linear infinite;
}
.set div:nth-child(7) {
	left: 55%;
	animation: animate 14s linear infinite; 
}
.set div:nth-child(8) {
	left: 90%;
	animation: animate 25s linear infinite; 
}
.set div:nth-child(9) {
	left: 75%;
	animation: animate 20s linear infinite;
}
.set div:nth-child(10) {
	left: 35%;
	animation: animate 14s linear infinite;
}
@keyframes animate {
	0%
	{
		top: -10%;
		opacity: 0;
		transform: translateX(20px) rotate(0deg)
	}
	10%
	{
		opacity: 1;
	}
	20%
	{
		transform: translateX(-20px) rotate(45deg)
	}
	40%
	{
		transform: translateX(-20px) rotate(90deg)
	}
	60%
	{
		transform: translateX(20px) rotate(135deg)
	}
	80%
	{
		transform: translateX(-20px) rotate(180deg)
	}
	100%
	{
		top: 110%;
		transform: translateX(-20px) rotate(225deg)
	}
}
.set2 {
	transform: rotateY(180deg);
	filter: blur(2px);
}
.set3 {
	transform: scale(0.8) rotateX(180deg);
	filter: blur(4px);
}
h2.tool-text {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
	color: #9e7922;
	font-size:2.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
	font-family: fantasy;
	padding: 0;
}
</style>

</head>
<body>


<section>
	    <h2 class="tool-text">Please close developer tool</h2>
	<div class="set">
		<div><img src="http://localhost/bg/raster.png" height="120px" width="120px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="120px" width="120px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
	<div class="set set2">
		<div><img src="http://localhost/bg/raster.png" height="240px" width="240px"></div>
		<div><img src="http://localhost/bg/raster.png" height="200px" width="200px"></div>
		<div><img src="http://localhost/bg/raster.png" height="200px" width="200px"></div>
		<div><img src="http://localhost/bg/raster.png" height="200px" width="200px"></div>
		<div><img src="http://localhost/bg/raster.png" height="200px" width="200px"></div>
	<div class="set set3">
		<div><img src="http://localhost/bg/raster.png" height="120px" width="120px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
		<div><img src="http://localhost/bg/raster.png" height="100px" width="100px"></div>
	</section>

<<!-- div class="dt-tool" *ngIf="isDevActive">

  <div class="snowContainer">

    <img alt="snowflakes" src="http://localhost/bg/raster.png" class="snowExample" style="width: 50px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 20s;animation-duration: 10s; left:50%; margin-left: -200px;" />
    
    <img alt="snowflakes" src="http://localhost/bg/raster.png" class="snowExample" style="width: 40px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 20s;animation-duration: 10s; left:50%; margin-left: -200px;" />
    
    <img alt="snowflakes" src="http://localhost/bg/raster.png" class="snowExample" style="width: 30px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 20s;animation-duration: 10s; left:50%; margin-left: -200px;" />
    
    <img alt="snowflakes" src="http://localhost/bg/raster.png" class="snowExample" style="width: 20px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 20s;animation-duration: 10s; left:50%; margin-left: -200px;" />
    
    <img alt="snowflakes" src="http://localhost/bg/raster.png" class="snowExample" style="width: 25px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 20s;animation-duration: 10s; left:50%; margin-left: -250px;" />
    
    <img alt="snowflakes" src="http://localhost/bg/raster.png" class="snowExample" style="width: 15px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 20s;animation-duration: 10s; left:50%; margin-left: -250px;" />
    
  </div>
    
  <h1>
    " Please close developer tool "
  </h1>
</div> -->

</body>
</html>