<div class="row">
  <!-- /.col -->
  <div class="col-12 p-2 bg-blue-head">
    <ul class="nav list-inline">
      <li class="list-inline-item">
        <h5 class="page-title">Statement</h5>
      </li>
    </ul>
  </div>
  <div class="col-md-6 mt-2">
    <form class="statement-form">
      <div class="form-row">
        <div class="col">
          <input type="date" class="form-control" #startdate placeholder="From">
        </div>
        <div class="col">
          <input type="date" class="form-control" #enddate placeholder="To">
        </div>
        <div class="col">
          <button class="btn btn-secondary" (click)="filterByDate()">Get Statement</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 mt-2">
    <div class="btn-toolbar pull-right statement-buttons" role="toolbar" aria-label="">
      <div class="btn-group" role="group" aria-label="">
        <button type="button" (click)="filters('today')" [ngClass]="{'active': filterBtn === 'today'}"
          class="btn btn-secondary">today</button>
        <button type="button" (click)="filters('yesterday')" [ngClass]="{'active': filterBtn === 'yesterday'}"
          class="btn btn-secondary">from yesterday</button>
        <button type="button" (click)="filters('7_day')" [ngClass]="{'active': filterBtn === '7_day'}"
          class="btn btn-secondary">last 7 days</button>
        <button type="button" (click)="filters('30_day')" [ngClass]="{'active': filterBtn === '30_day'}"
          class="btn btn-secondary">last 30 days</button>
        <button type="button" (click)="filters('3_month')" [ngClass]="{'active': filterBtn === '3_month'}"
          class="btn btn-secondary">last 3 months</button>
        <!-- <button type="button" class="btn btn-secondary" (click)="generateAndDownloadExcel()">
          <i class="fa fa-download"></i>
        </button> -->
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-theme">
        <thead class="bg-golden">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Order date </th>
            <th scope="col">Order against </th>
            <th scope="col">Type</th>
            <th scope="col">description</th>
            <th scope="col">credit</th>
            <th scope="col">debit</th>
            <th scope="col">Balance</th>
            <th scope="col">Stop Loss</th>
            <th scope="col">Take Profit</th>
            <th scope="col">close buy price</th>
            <th scope="col">close sell price</th>
            <th scope="col">commission</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sItem of sList">
            <td>{{sItem?.id}}</td>
            <td>{{sItem?.created_on}}</td>

            <td>{{sItem?.completeOrderId}}</td>
            <td>{{sItem?.trans_type || '--'}}</td>
            <td>{{sItem?.description || '--'}}</td>
            <td style="color: green;">{{sItem?.type === 'CREDIT' ? sItem?.amount : '0.00'}}</td>
            <td style="color: red;">{{sItem?.type === 'DEBIT' ? sItem?.amount : '0.00'}}</td>
            <td>{{sItem?.balance}}</td>
            <td>{{sItem?.stopLoss || '--'}}</td>
            <td>{{sItem?.takeProfit || '--'}}</td>
            <td>{{sItem?.closeBuyPrice || '--'}}</td>
            <td>{{sItem?.closeSellPrice || '--'}}</td>
            <td>{{sItem?.commission || '--'}}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="sList?.length">
          <tr>
            <td colspan="7" class="text-right">
              <app-pagination [page]="page" [total]="perPage" [totalPages]="totalPages"
                (modulePagging)="mudouPagina($event)"></app-pagination>
            </td>
            <td colspan="2"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- /.col -->
</div>