<!-- Navbar -->
<nav class="main-header navbar navbar-expand fixed-top top-navbar">
  <!-- Left navbar links -->
  <ul class="navbar-nav animated bounceInRight slower top-main-menu">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/market" routerLinkActive="active">
      <a class="nav-link">Market</a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/order" routerLinkActive="active">
      <a class="nav-link">Position</a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/order-book" routerLinkActive="active">
      <a class="nav-link">Order Book</a>
    </li>
    <!-- <li class="nav-item d-none d-md-block" routerLink="/history" routerLinkActive="active">
      <a class="nav-link">history</a>
    </li> -->
    <li class="nav-item d-none d-md-block" routerLink="/statement" routerLinkActive="active">
      <a class="nav-link">Statement</a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/new-rules" routerLinkActive="active">
      <a class="nav-link">Rules</a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/calculations" routerLinkActive="active">
      <a class="nav-link">Calculations</a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/news" routerLinkActive="active">
      <a class="nav-link">News</a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/complain" routerLinkActive="active">
      <a class="nav-link">Complain</a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/print" routerLinkActive="active">
      <a class="nav-link">Download</a>
    </li>
    <li class="nav-item d-none d-md-block" routerLink="/about-us" routerLinkActive="active">
      <a class="nav-link">About Us</a>
    </li>
  </ul>
  <!-- Right favbar links -->
  <ul class="navbar-nav ml-auto my-account">
    <!-- Messages Dropdown Menu -->
    <!-- <li class="nav-item dropdown ml-2 rules">
      <a routerLink="/rules">
        rules
      </a>
    </li> -->
    <li class="nav-item dropdown">
      <a class="nav-link available">
        <b>balance</b>
        <span class="badge badge-danger navbar-badge">{{balance}}</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link available">
        <b>PL</b>
        <span class="badge badge-danger navbar-badge">{{pl}}</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link user-ac" data-toggle="dropdown" href="#">
        <img class="img-fluid" src="assets/img/user.svg" alt="">
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right animated fadeInRight">
        <a routerLink="/ac/profile" class="dropdown-item">
          <i class="mr-2"><img class="img-fluid" src="assets/img/user.svg" alt=""></i> My Profile
        </a>
        <div class="dropdown-divider"></div>
        <a routerLink="/ac/change-password" class="dropdown-item">
          <i class="mr-2"><img class="img-fluid" src="assets/img/change-password.svg" alt=""></i> Changes Password
        </a>
        <div class="dropdown-divider"></div>
        <a (click)="logout()" class="dropdown-item dropdown-footer">Logout</a>
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->


<!-- Navbar -->
<!--<nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom fixed-top">-->
<!--  &lt;!&ndash; Left navbar links &ndash;&gt;-->
<!--  <ul class="navbar-nav primary-menu animated bounceInRight slower">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>-->
<!--    </li>-->
<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="dashboard.php" class="nav-link">Home</a>-->
<!--    </li>-->
<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="inplay.php" class="nav-link">Inplay</a>-->
<!--    </li>-->
<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="mymarket.php" class="nav-link">My Market</a>-->
<!--    </li>-->
<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="cricket.php" class="nav-link">Cricket</a>-->
<!--    </li>-->
<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="football.php" class="nav-link">Football</a>-->
<!--    </li>-->
<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="tennis.php" class="nav-link">Tennis</a>-->
<!--    </li>-->

<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="teenpatti.php" class="nav-link">TeenPatti</a>-->
<!--    </li>-->

<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="election.php" class="nav-link">Election</a>-->
<!--    </li>-->

<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="jackpot.php" class="nav-link">jackpot & More</a>-->
<!--    </li>-->

<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="lottery.php" class="nav-link">Lottery</a>-->
<!--    </li>-->

<!--    <li class="nav-item d-none d-sm-inline-block">-->
<!--      <a href="result.php" class="nav-link">Result</a>-->
<!--    </li>-->
<!--  </ul>-->

<!--  &lt;!&ndash; Right navbar links &ndash;&gt;-->
<!--  <ul class="navbar-nav ml-auto my-account">-->
<!--    &lt;!&ndash; Messages Dropdown Menu &ndash;&gt;-->
<!--    <li class="nav-item dropdown animated swing android-logo delay-3s">-->
<!--      <a href="#">-->
<!--        <img class="img-fluid" src="img/android.svg" alt="" />-->
<!--      </a>-->
<!--    </li>-->

<!--    <li class="nav-item dropdown ml-2 rules">-->
<!--      <a href="rules.php" target="_blank">-->
<!--        rules-->
<!--      </a>-->
<!--    </li>-->

<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link available">-->
<!--        <b>balance</b>-->
<!--        <span class="badge badge-danger navbar-badge">10,000,00</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    &lt;!&ndash; Notifications Dropdown Menu &ndash;&gt;-->
<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link exposure">-->
<!--        <b>exposer</b>-->
<!--        <span class="badge badge-warning navbar-badge">0.00</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link user-ac" data-toggle="dropdown" href="#">-->
<!--        <img class="img-fluid" src="img/user.svg" alt="" />-->
<!--      </a>-->
<!--      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right animated fadeInRight">-->
<!--        <a href="profile.php" class="dropdown-item">-->
<!--          <i class="mr-2"><img class="img-fluid" src="img/user.svg" alt="" /></i> My Profile-->
<!--        </a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a href="statement.php" class="dropdown-item">-->
<!--          <i class="mr-2"><img class="img-fluid" src="img/statement.svg" alt="" /></i> Account Statement-->
<!--        </a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a href="profitloss.php" class="dropdown-item">-->
<!--          <i class="mr-2"><img class="img-fluid" src="img/statements-loss.svg" alt="" /></i> Profit and Loss-->
<!--        </a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a href="bet.php" class="dropdown-item">-->
<!--          <i class="mr-2"><img class="img-fluid" src="img/bet.svg" alt="" /></i> My Bets-->
<!--        </a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a href="change-password.php" class="dropdown-item">-->
<!--          <i class="mr-2"><img class="img-fluid" src="img/change-password.svg" alt="" /></i> Changes Password-->
<!--        </a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a href="#" class="dropdown-item dropdown-footer">Logout</a>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
<!-- /.navbar -->