<div class="row rule-ui border border-light">
  <div class="col-md-12 px-0">
    <h2>Calculations</h2>

    <div class="mx-2 border border-light">
      <nav>
        <div class="nav nav-tabs nav-fill border-0 text-uppercase" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="false">Margin</a>
          <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="true">Margin For Loss</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">Free Margin </a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
            aria-controls="nav-about" aria-selected="false">In case of profit</a>
          <a class="nav-item nav-link" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab"
            aria-controls="nav-new" aria-selected="false">Commissions over buy</a>
        </div>
      </nav>
      <div class="tab-content p-3" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <p> For Each Unit
            (Buy prize % 2) * (unit)</p>
          <p> For Each Unit
            (Buy prize % 2) * (unit)</p>
          <p> For Each Unit
            (Buy prize % 2) * (unit)</p>
        </div>
        <div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <p> For Each Unit
            (Buy prize % 2) * (unit) - loss</p>
          <p> For Each Unit
            (Buy prize % 2) * (unit) -loss</p>
          <p> For Each Unit
            (Buy prize % 2) * (unit) -loss</p>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <p> Balance - margin = free margin </p>
        </div>
        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
          <p> Balance - margin = free margin + profit</p>
        </div>
        <div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
          <p> For GOLD
            0.00004</p>
          <p> For SILVER
            0.00035</p>
          <p> For USDINR
            0.00026</p>
          <p> For ZINC
            0.00012</p>
          <p> For CRUDEOIL
            0.00012</p>
          <p> For COPPER
            0.00012</p>
          <p> For ALUMINIUM
            0.00012</p>
          <p> For GBPINR
            0.00026</p>
          <p> For EURINR
            0.00026</p>
        </div>
      </div>
    </div>
  </div>