<div class="col-md-12 p-2 bg-blue-head">
    <ul class="nav list-inline">
      <li class="list-inline-item">
        <h5 class="page-title">Change Password</h5>
      </li>
    </ul>
  </div>
<div class="change-password-ui rounded">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
            <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">old password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" name="oldpassword" formControlName="oldpassword"
                        autocomplete="false" placeholder="type old password">
                    <span class="red"
                        *ngIf="frmOldpassword.invalid && (frmOldpassword.dirty || frmOldpassword.touched)">Old Password
                        required</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">new password</label>
                <div class="col-md-6 position-relative">
                    <input formControlName="password" type="{{passwordType}}" class="form-control" name="password"
                        autocomplete="false" placeholder="type new password">
                    <div class="eyes-password">
                        <i class="fa fa-eye" *ngIf="passwordType == 'text'" (click)="viewPassword(passwordType)"></i>
                        <i class="fa fa-eye-slash" *ngIf="passwordType == 'password'"
                            (click)="viewPassword(passwordType)"></i>
                    </div>
                    <div *ngIf="f.password?.invalid && (f.password?.dirty || f.password?.touched)">
                        <div *ngIf="f.password?.errors && f.password?.errors?.required" class="red mt-0">Enter New
                            Password</div>
                        <div *ngIf="f.password?.errors && f.password?.errors?.minLength" class="red mt-0">Minimum
                            Password length is 6 Char.</div>
                        <div *ngIf="f.password?.errors && f.password?.errors?.pattern" class="red mt-0">Password minimum
                            6 characters,1 (uppercase & lowercase) letter,1 special character ,1 digits </div>
                    </div>
                    <!--                    <span style="color:red;" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">New Password required</span>-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">confirm password</label>
                <div class="col-md-6 position-relative">
                    <input formControlName="cpassword" type="{{cPasswordType}}" class="form-control" name="cpassword"
                        autocomplete="false" placeholder="type confirm password">
                    <div class="eyes-password">
                        <i class="fa fa-eye" *ngIf="cPasswordType == 'text'" (click)="viewcPassword(cPasswordType)"></i>
                        <i class="fa fa-eye-slash" *ngIf="cPasswordType == 'password'"
                            (click)="viewcPassword(cPasswordType)"></i>
                    </div>
                    <span class="red"
                        *ngIf="frmCpassword.invalid && (frmCpassword.dirty || frmCpassword.touched)">Confirm Password
                        required</span>
                    <span class="red"
                        *ngIf="!frmCpassword.invalid && (frmCpassword.dirty || frmCpassword.touched)  && ( frmCpassword.value != frmPassword.value )">Confirm
                        Password Not Matched!</span>
                </div>
            </div>
            <div class="form-group row text-center mb-1">
                <div class="col-md-6 offset-md-4">
                    <div class="red-error" *ngIf="errorMsg">{{errorMsg}}
                        <a href="javascript:void(0);" (click)="closeMsg()"><i class="fa fa-times-circle-o"
                                aria-hidden="true"></i></a>
                    </div>
                    <div class="green-error" *ngIf="successMsg">{{successMsg}}
                        <a href="javascript:void(0);" (click)="closeMsg()"><i class="fa fa-times-circle-o"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-password" [ngClass]="{disabled: !form.valid }">
                        submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
