.red-error {
    background: red;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    padding: 3px 0;
    letter-spacing: 1px;
    border-radius: 1px;
}

.green-error {
    background: green;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    padding: 3px 0;
    letter-spacing: 1px;
    border-radius: 1px;
}