<div class="wrap-login100">
  <form [formGroup]="form" (ngSubmit)="submitLogin()" novalidate class="login100-form">
    <span class="login100-form-title">
      <img class="img-fluid" src="assets/img/logo.png" data-src="assets/img/logo.png" alt="">
    </span>
    <div class="log-form-group">
      <input type="text" name="username" formControlName="username" placeholder="username" class="log-input">
      <div class="error" *ngIf="frmuUsername.invalid && (frmuUsername.dirty || frmuUsername.touched)">
        Invalid username, please retry again
      </div>
    </div>
    <div class="log-form-group">
      <input class="log-input" type="{{passwordType}}" formControlName="password" name="password" placeholder="password"
        autocomplete="off">
      <div class="unhider">
        <a (click)="viewPassword(passwordType)"><i class="fa" 
            [ngClass]="{'fa-eye': passwordType === 'text','fa-eye-slash': passwordType === 'password'}"></i></a>
      </div>
      <div class="error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">
        Invalid password, please retry again
      </div>
    </div>

    <div class="log-form-group">
      <div class="row">
        <input class="log-input col-8" type="number" formControlName="recaptcha" name="recaptcha"
          placeholder="enter number" autocomplete="off">
        <div class="log-input bg-light col-4">{{reCaptchVal}}</div>
      </div>
      <div class="error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">
        Invalid number, please retry again
      </div>
      <div class="error" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
    </div>


    <div class="log-form-group">
      <button class="login-button" [ngClass]="{'btn-disable': !form.valid && !isActiveSYS }">
        Login
      </button>
    </div>

    <div class="log-form-group" style="text-align: center;">
      <a [routerLink]="['/auth/demo']"><samp class="demo-text">Create Demo Account </samp></a>
    </div>

    <div class="log-form-group">
      <a [href]="downloadUrl" [download]="downloadTag" class="android-anchor">
        <img class="img-fluid android-logo" src="assets/img/android.gif" alt="">
        <span class="apk-text">APK Download</span>
      </a>
      <a href="https://www.youtube.com/c/FunandLearnMTS" target="_blank" class="" style="color: red;">
        <i class="fa fa-youtube img-fluid video-logo"></i>
        <span class="vdo-text">Videos</span>
      </a>
    </div>
  </form>
</div>

<div *ngIf="isActiveSYS" class="overlay-on-login">
  <div class="ool">
    <h2>{{systemInActiveMsg}}</h2>
  </div>
</div>