<div *ngIf='isActiveCnfm === false && isActive === false'>
  <!-- <div class="bg-card trade-acc">
    <div class="rule-ui1 row">
      <div class="btn-toolbar pull-right statement-buttons" role="toolbar" aria-label="">
        <div class="btn-group" role="group" aria-label="">
          <button type="button" [ngClass]="{'active': filterBtn === 'Today'}" class="btn btn-secondary">Today</button>
          <button type="button" [ngClass]="{'active': filterBtn === 'Overall'}"
            class="btn btn-secondary">Overall</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12 px-0">
      <div class="row justify-content-end align-items-center">
        <div class="col-12 p-2 bg-blue-head">
          <ul class="nav list-inline">
            <li class="list-inline-item">
              <h5 class="page-title">Position</h5>
            </li>
            <!-- <li class="list-inline-item">
              <i class="fa fa-long-arrow-right text-dark align-middle"></i>
            </li>
            <li class="list-inline-item">
              <p class="trade-gbp" [ngStyle]="{'color': tradeGBP < 0 ? 'red' : 'goldenrod'}">{{tradeGBP}} INR</p>
            </li> -->
          </ul>
        </div>
        <div class="col-5 p-2">
          <ul class="nav list-inline add-edit-btn pull-right">
          </ul>
        </div>
        <div class="col-md-12 mt-2">
          <div class="row justify-content-center">
            <div class="col-12 col-md-12 px-4">
              <div class="table-responsive">
                <table class="table trade-table">
                  <!-- <tbody>
                  <tr>
                    <td class="text-left">
                      <b>balance:</b>
                    </td>
                    <td colspan="3">
                      <span class="trade-td-border">&nbsp;</span>
                    </td>
                    <td class="text-right">
                      <span class="text-golden">{{balance}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <b>margin:</b>
                    </td>
                    <td colspan="3">
                      <span class="trade-td-border">&nbsp;</span>
                    </td>
                    <td class="text-right">
                      <span class="text-golden" [ngClass]="{'red': margin < 0 }">{{margin}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <b>free margin:</b>
                    </td>
                    <td colspan="3">
                      <span class="trade-td-border">&nbsp;</span>
                    </td>
                    <td class="text-right">
                      <span class="text-golden" [ngClass]="{'red': freemargin < 0}">{{freemargin}}</span>
                    </td>
                  </tr>
                </tbody>-->

                  <tbody>
                    <tr>
                      <!-- <td class="text-left">
                        <b>Unrealised</b>
                        <p class="text-golden">{{margin}}</p>
                      </td> -->
                      <td class="text-center">
                        <b>Total MTM</b>
                        <p class="text-golden" [ngClass]="{'red': tradeGBP < 0 }">{{tradeGBP}}</p>
                      </td>
                      <!-- <td class="text-right">
                        <b>Realised</b>
                        <p class="text-golden" [ngClass]="{'red': freemargin < 0}">{{tradeGBP}}</p>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div #positionRef></div>
              <div #ordersRef></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 
  <h2 class="sub-title">
    <div class="col-md-12 row">
      <div class="col-md-6 col-6"><b>SYMBOL</b></div>
      <div class="col-md-6 col-6 text-right"><b>MTM</b></div>
    </div>
    <div class="col-md-12 text-right">
      Booked P/L
    </div>
    <div class="col-md-12 row">
      <div class="col-md-6 col-6">Product | LTP</div>
      <div class="col-md-6 col-6 text-right">Net Qty</div>
    </div>
  </h2>
  <div class="table-responsive">
    <div class="col-md-12 col-12" *ngFor="let item of tradePositionList;let i = index;">
      <a (click)="openModal('custom-modal-1', qItem)">
      <a data-toggle="collapse" href="#data2-{{item?.id}}" (click)="checkCollapse(item?.id)">
        <div class="bg-card trade-acc">
          <div class="col-md-12 row">
            <div class="col-md-6 col-6">
              <b class="trade-name">{{item?.name}}</b>
            </div>
            <div class="col-md-6 col-6 text-right"><b class="trade-name">{{item?.buy_price}}</b></div>
          </div>
          <div class="col-md-12 row">
            <div class="col-md-6 col-6">
              <small class="trade-timer">{{item?.tradingSymbol}}</small>
            </div>
            <div class="col-md-6 col-6 text-right">
              <small class="trade-timer">{{item?.buy_price}}</small></div>
          </div>
          <div class="col-md-12 row">
            <div class="col-md-6 col-6 trade-name">MIS | {{item?.lot}}</div>
            <div class="col-md-6 col-6 text-right trade-name">0</div>
          </div>
          <div id="data2-{{item?.id}}" class="collapse1" *ngIf="collapseOpen === item?.id">
            <div class="col-12 row px-1">
              <a class="btn-sell col-6 text-center" (click)="openSquareOff(i)">Square Off</a>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>-->
</div>

<!-- Modal -->
<div id="modal-1" *ngIf='isActive === true && isActiveCnfm === false' class="py-2">
  <div>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="text-center">Modify Order</h5>
      <button type="button" class="close" (click)="modelClosed()">×</button>
    </div>

    <div class="modal-body">
      <div class="buy-sell-ui">
        <form #myform="ngForm">
          <!-- <div class="align-items-center">
            <h5 class="text-center">Modify Order</h5>
          </div> -->

          <div class="form-group align-items-center row col-12">
            <h6 class="modal-title col-10">{{orderDetail?.name}} -
              <small>{{orderDetail?.tradingSymbol}}</small>
              <div>
                <small>{{orderDetail?.expiry}}</small>
              </div>
            </h6>

            <div class="pull-right col-2">
              <div class="my-1 row">
                <div class="col-6 text-right" *ngIf="orderDetail?.trans_type === 'SELL'">
                  <span class="bs-price red">{{orderDetail?.sellCPrice}}</span>
                </div>
                <div class="col-6 text-left" *ngIf="orderDetail?.trans_type === 'BUY'">
                  <span class="bs-price golden">{{orderDetail?.buyCPrice}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Transaction Type
            </div>
            <div class="col-6 text-center">
              <b>{{orderDetail?.trans_type}}</b>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Product Type
            </div>
            <div class="form-group col-6">
              <select class="form-control" name="productOption" [(ngModel)]="productOption"
                (change)="productOptionChange($event.target.value)" disabled>
                <option *ngFor="let option of productTypeOpnList" value="{{option?.value}}">{{option?.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Retention Type
            </div>
            <div class="col-6">
              <div class="form-group">
                <select class="form-control" name="retentionOption" [(ngModel)]="retentionOption"
                  (change)="retentionOptionChange($event.target.value)" *ngIf="productOption != 'CO'" disabled>
                  <option *ngFor="let option of retentionTypeOpnList" value="{{option?.value}}">{{option?.name}}
                  </option>
                </select>

                <select class="form-control" name="retentionOption" [(ngModel)]="retentionOption"
                  (change)="retentionOptionChange($event.target.value)" *ngIf="productOption === 'CO'" disabled>
                  <option value='DAY'>DAY</option>
                </select>
              </div>
              <!-- <div class="text-center">
                <span class="text-golden small" *ngIf="productOption === 'CO'">
                  If product type is <b>{{productOption}}</b> then defualt retention type is
                  {{retentionOption}}</span>
              </div> -->
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Order Type
            </div>
            <div class="col-6">
              <div class="form-group">
                <select class="form-control" name="ot_type" [(ngModel)]="orderOption"
                  (change)="orderOptionChange($event.target.value)"
                  *ngIf="productOption != 'CO' && productOption != 'BO'" disabled>
                  <option *ngFor="let option of orderTypeOpnList" value="{{option?.value}}">{{option?.name}}</option>
                </select>

                <select class="form-control" name="ot_type" [(ngModel)]="orderOption"
                  (change)="orderOptionChange($event.target.value)" *ngIf="productOption === 'CO'" disabled>
                  <option value='MARKET'>MARKET</option>
                  <option value='LIMIT'>LIMIT</option>
                </select>

                <select class="form-control" name="ot_type" [(ngModel)]="orderOption"
                  (change)="orderOptionChange($event.target.value)" *ngIf="productOption === 'BO'" disabled>
                  <option value="LIMIT">LIMIT</option>
                </select>
              </div>
              <div class="text-center">
                <span class="text-golden small" *ngIf="productOption === 'BO'">
                  If product type is <b>{{productOption}}</b> then defualt order type is {{orderOption}}</span>
              </div>
            </div>
          </div>

          <div class="input-group form-group" *ngIf="orderOption === 'LIMIT' || orderOption === 'SL'">
            <div class="col-6 text-center">
              Price
            </div>
            <div class="form-group col-6 row" >
              <div class="input-group-prepend col-1" (click)="decrement('price')" *ngIf="orderDetail?.status === 3">
                <span class="input-group-text"> - </span>
              </div>
              <input type="number" name="price" class="form-control inc-input col-8" min="0"
                [(ngModel)]="orderDetail.price" [ngModelOptions]="{standalone: true}" placeholder="Price: 0.000000" *ngIf="orderDetail?.status === 1" disabled>
                <input type="number" name="price" class="form-control inc-input col-8" min="0"
                [(ngModel)]="orderDetail.price" [ngModelOptions]="{standalone: true}" placeholder="Price: 0.000000" *ngIf="orderDetail?.status === 3">
              <div class="input-group-append col-1" (click)="increment('price')" *ngIf="orderDetail?.status === 3">
                <span class="input-group-text"> + </span>
              </div>
            </div>
          </div>

          <div class="input-group form-group"
            *ngIf="productOption === 'CO' || orderOption === 'SL' || orderOption === 'SLM'">
            <div class="col-6 text-center">
              Trigger Price
            </div>
            <div class="form-group col-6 row">
              <div class="input-group-prepend col-1" (click)="decrement('price')">
                <!-- <span class="input-group-text"> - </span> -->
              </div>
              <input type="number" name="trigger_price" class="form-control inc-input col-8" min="0"
                [(ngModel)]="orderDetail.trigger_price" [ngModelOptions]="{standalone: true}"
                placeholder="Trigger Price: 0.000000" *ngIf="orderDetail?.status === 1" disabled>
              <input type="number" name="trigger_price" class="form-control inc-input col-8" min="0"
                [(ngModel)]="orderDetail.trigger_price" [ngModelOptions]="{standalone: true}"
                placeholder="Trigger Price: 0.000000" *ngIf="orderDetail?.status === 3">
              <div class="input-group-append col-1" (click)="increment('price')">
                <!-- <span class="input-group-text"> + </span> -->
              </div>
            </div>
          </div>

          <div class="input-group form-group" *ngIf="orderDetail.status === 1 || productOption === 'BO'"> 
            <div class="col-6 text-center">
              Stop Loss
            </div>
            <div class="input-group form-group col-6 row">
              <div class="input-group-prepend col-1" (click)="decrement('SL')">
                <span class="input-group-text"> - </span>
              </div>
              <input type="number" name="SL" class="form-control inc-input col-8" [(ngModel)]="orderDetail.SL"
                [ngModelOptions]="{standalone: true}" placeholder="SL">
              <div class="input-group-append" (click)="increment('SL')">
                <span class="input-group-text col-1"> + </span>
              </div>
            </div>
          </div>

          <div class="input-group form-group" *ngIf="orderDetail?.status === 1 || productOption === 'BO'">
            <div class="col-6 text-center">
              Target Price
            </div>
            <div class="input-group form-group col-6 row">
              <div class="input-group-prepend col-1" (click)="decrement('TP')">
                <span class="input-group-text"> - </span>
              </div>
              <input type="number" name="TP" step="0.01" min="0" [(ngModel)]="orderDetail.TP"
                [ngModelOptions]="{standalone: true}" class="form-control inc-input col-8" placeholder="TP">
              <div class="input-group-append" (click)="increment('TP')">
                <span class="input-group-text col-1"> + </span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Qty (Lots)
            </div>
            <div class="form-group col-6">
              <input type="number" [(ngModel)]="orderDetail.lot" class="form-control inc-input" name="lotCount"
                placeholder="Enter Value" disabled>
            </div>
          </div>

          <div class="form-group row" *ngIf="productOption != 'CO' && productOption != 'BO'">
            <div class="col-6 text-center">
              Disc Qty (Lots)
            </div>
            <div class="form-group col-6">
              <input type="number" [(ngModel)]="orderDetail.disc_lot" class="form-control inc-input" name="discLot"
                placeholder="Enter Value" disabled>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer raw mx-0 border-buysell position-relative">

    <div class="col-12 row">
      <div class="col-6 text-center">
        <button type="button" (click)="modelClosed()" class="btn btn-buy">CANCLE</button>
      </div>
      <div class="col-6 text-center">
        <button type="button" (click)="confirmModel()" class="btn btn-buy"
          [ngClass]="{'disabled': !orderDetail.lot}">
          <span *ngIf="orderDetail?.trans_type === 'BUY'">REVIEW BUY ORDER</span>
          <span *ngIf="orderDetail?.trans_type === 'SELL'">REVIEW SELL ORDER</span>
        </button>
      </div>
    </div>

  </div>
  </div>
</div>


<!-- Modal -->
<div id="modal-2" *ngIf='isActiveCnfm === true' class="py-2 col-md-12">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="text-center">Close Order</h5>
      <button type="button" class="close" (click)="modelClosed()">×</button>
    </div>

    <div class="modal-body">
      <div class="buy-sell-ui">
        <form #myform="ngForm">
          <!-- <div class="align-items-center">
            <h5 class="text-center">Confirm Order</h5>
          </div> -->

          <div class="form-group row">
            <div class="col-6 text-left">
              Symbol
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.tradingSymbol}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Name
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.name}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Transaction Type
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.trans_type}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Order Type
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.ot_type}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Product Type
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.product_type}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Retention Type
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.retention_type}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Quantity (Lots)
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.lot}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Disc Quantity (Lots)
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.disc_lot || "NA"}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Price
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail?.price || "NA"}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Trigger Price
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail?.trigger_price || "NA"}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Stop Loss
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail?.SL || "NA"}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Target Price
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail?.TP || "NA"}}</b>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer raw mx-0 border-buysell position-relative">

    <div class="col-12 row">
      <div class="col-6 text-center">
        <button type="button" (click)="editOrder()" class="btn btn-buy">EDIT</button>
      </div>
      <div class="col-6 text-center">
        <button type="button" (click)="placeOrder(orderDetail)" class="btn btn-buy" *ngIf="!isActive">
          <!-- [ngClass]="{'disabled': orderDetail?.lot === '' || orderDetail?.price === ''}"> -->
          <span *ngIf="type === 'BUY'">Closed BUY Order</span>
          <span *ngIf="type === 'SELL'">Closed SELL Order</span>
        </button>
        
        <button type="button" (click)="update_order(orderDetail)" class="btn btn-buy" *ngIf="isActive && orderDetail?.status === 3">
          <!-- [ngClass]="{'disabled': orderDetail?.lot === '' || orderDetail?.price === ''}"> -->
          <span *ngIf="type === 'BUY'">Update BUY Order</span>
          <span *ngIf="type === 'SELL'">Update SELL Order</span>
        </button>

        <button type="button" (click)="update_sl_tp(orderDetail)" class="btn btn-buy" *ngIf="isActive && orderDetail?.status === 1">
          <!-- [ngClass]="{'disabled': orderDetail?.lot === '' || orderDetail?.price === ''}"> -->
          <span *ngIf="type === 'BUY'">Update BUY Order</span>
          <span *ngIf="type === 'SELL'">Update SELL Order</span>
        </button>
      </div>
    </div>

  </div>
</div> 




<!-- Modal -->
<jw-modal id="custom-modal-1">
  <div class="modal-content">
    <div class="modal-header align-items-center">
      <h5 class="modal-title">Close Position #0000{{orderDetail?.position}}
        <p class="m-0"> <small style="font-size: 12px;">{{orderDetail?.trans_type | lowercase}}
            {{orderDetail?.lot}}
            {{orderDetail?.name}}
            at
            <span *ngIf="orderDetail.order_type === 'instant_execution'">
              {{orderDetail?.trans_type === 'BUY' ? orderDetail?.buyPrice : orderDetail?.sellPrice}}
            </span>
            <span *ngIf="orderDetail.order_type !== 'instant_execution'">
              {{orderDetail?.price}}
            </span>
          </small>
        </p>
      </h5>
      <button type="button" (click)="closeModal('custom-modal-1')" class="close jw-modal" data-dismiss="modal"
        aria-label="Close">
        <i class="fa fa-close text-light"></i>
      </button>
    </div>
    <div class="modal-body">

      <div class="buy-sell-ui">
        <form #myform="ngForm">

          <div class="form-group">

          </div>
          <div class="row my-1">
            <div class="col-6 text-right">
              <span class="bs-price red">{{orderDetail?.sellCPrice}}</span>
            </div>
            <div class="col-6 text-left">
              <span class="bs-price golden">{{orderDetail?.buyCPrice}}</span>
            </div>
          </div>
          <div>
            <select class="input-group form-group" name="select" ngModel [ngModelOptions]="{standalone: true}"
              #select='ngModel'>
              <option value='' selected='selected' disabled>--- Select Type ---</option>
              <option class="m-2 inc-input" value='1'>Enter {{orderDetail.trans_type === 'BUY' ? 'SELL' : 'BUY'}}
                Price
              </option>
              <option class="m-1 inc-input" value='2'>Close With Market Rate</option>
            </select>
          </div>

          <div *ngIf="select.value === '1'">
            <div class="input-group form-group">
              <input type="number" name="checkPrice" class="form-control inc-input" min="0"
                [(ngModel)]="orderDetail.checkPrice" [ngModelOptions]="{standalone: true}"
                placeholder="Check Price: 0.000000">
            </div>
            <div *ngIf="!orderDetail.checkPrice" class="check-text">Please Enter
              {{orderDetail.trans_type === 'BUY'? 'SELL' : 'BUY' }} Price
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="input-group form-group">
                <div class="input-group-prepend" (click)="decrement('SL')">
                  <span class="input-group-text"> - </span>
                </div>
                <input type="number" name="SL" class="form-control inc-input" [(ngModel)]="orderDetail.SL"
                  [ngModelOptions]="{standalone: true}" placeholder="SL">
                <div class="input-group-append" (click)="increment('SL')">
                  <span class="input-group-text"> + </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="input-group form-group">
                <div class="input-group-prepend" (click)="decrement('TP')">
                  <span class="input-group-text"> - </span>
                </div>
                <input type="number" name="TP" step="0.01" min="0" [(ngModel)]="orderDetail.TP"
                  [ngModelOptions]="{standalone: true}" class="form-control inc-input" placeholder="TP">
                <div class="input-group-append" (click)="increment('TP')">
                  <span class="input-group-text"> + </span>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>

    </div>
    <div class="modal-footer raw mx-0 border-buysell position-relative">
      <div class="col-6 text-center">
        <button type="button" (click)="placeOrder(orderDetail)" class="btn btn-buy"
          [ngClass]="{'disabled': (!orderDetail?.checkPrice && select.value === '1') || !select.value}">
          Close with {{orderDetail.profit < 0 ? 'Loss' : 'Profit' }}
          <span
            [ngClass]="{'red': orderDetail?.profit < 0, 'golden': orderDetail?.profit > 0}">{{orderDetail.profit}}</span>
        </button>
      </div>

      <div class="col-6 text-center">
        <button type="button" (click)="update_sl_tp(orderDetail)" class="btn btn-buy"
          [ngClass]="{'disabled': (!orderDetail?.SL && !orderDetail?.TP) || !select.value}">
          Update SL/TP
        </button>
      </div>

    </div>
  </div>
</jw-modal>

<!-- Modal -->
<jw-modal id="custom-modal-2">
  <div class="modal-content">
    <div class="modal-header align-items-center">
      <h5 class="modal-title">{{orderDetail.name}} -
        <small>{{orderDetail.tradingSymbol}}</small>
      </h5>
      <button type="button" (click)="closeModal('custom-modal-2')" class="close jw-modal" data-dismiss="modal"
        aria-label="Close">
        <i class="fa fa-close text-light"></i>
      </button>
    </div>
    <div class="modal-body">

      <div class="buy-sell-ui">
        <form #myform="ngForm">
          <div class="form-group">
            <select class="form-control" name="orderType" (change)="orderOptionChange($event.target.value)">
              <option *ngFor="let option of orderOptionList" value="{{option?.value}}">{{option?.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-5 ">
                <div class="btn-group d-flex align-content-center">
                  <button class="btn text-golden" [ngClass]="{'lot-active': orderDetail.lot === lItem?.value}"
                    (click)="orderDetail.lot = lItem?.value;"
                    *ngFor="let lItem of lotArr[orderDetail?.name]">{{lItem?.name}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-1">
            <div class="col-6 text-right">
              <!--.toString().slice(0, -1)  .toString().slice(-1)-->
              <span class="bs-price red">{{orderDetail?.sellCPrice}}</span>
            </div>
            <div class="col-6 text-left">
              <span class="bs-price golden">{{orderDetail?.buyCPrice}}</span>
            </div>
          </div>
          <div class="input-group form-group" *ngIf="orderOption !== 'instant_execution'">
            <div class="input-group-prepend" (click)="decrement('price')">
              <span class="input-group-text"> - </span>
            </div>
            <input type="number" name="price" class="form-control inc-input" min="0" [(ngModel)]="orderDetail.price"
              [ngModelOptions]="{standalone: true}" placeholder="Price: 0.000000">
            <div class="input-group-append" (click)="increment('price')">
              <span class="input-group-text"> + </span>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="input-group form-group">
                <div class="input-group-prepend" (click)="decrement('SL')">
                  <span class="input-group-text"> - </span>
                </div>
                <input type="number" name="SL" class="form-control inc-input" [(ngModel)]="orderDetail.SL"
                  [ngModelOptions]="{standalone: true}" placeholder="SL">
                <div class="input-group-append" (click)="increment('SL')">
                  <span class="input-group-text"> + </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="input-group form-group">
                <div class="input-group-prepend" (click)="decrement('TP')">
                  <span class="input-group-text"> - </span>
                </div>
                <input type="number" name="TP" step="0.01" min="0" [(ngModel)]="orderDetail.TP"
                  [ngModelOptions]="{standalone: true}" class="form-control inc-input" placeholder="TP">
                <div class="input-group-append" (click)="increment('TP')">
                  <span class="input-group-text"> + </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="modal-footer raw mx-0 border-buysell position-relative">
      <div class="col-6 text-center" *ngIf="orderOption === 'instant_execution'">
        <button type="button" (click)="placeOrder(orderDetail, 'SELL')" class="btn btn-sell"
          [ngClass]="{'disabled': orderDetail.lot === '' }">sell</button>
      </div>
      <div class="col-6 text-center" *ngIf="orderOption === 'instant_execution'">
        <button type="button" (click)="placeOrder(orderDetail, 'BUY')" class="btn btn-buy"
          [ngClass]="{'disabled': orderDetail.lot === '' }">buy</button>
      </div>
      <div class="col-12 text-center" *ngIf="orderOption !== 'instant_execution'">
        <button type="button" (click)="placeOrder(orderDetail, '')" class="btn btn-buy"
          [ngClass]="{'disabled': orderDetail.lot === '' ||  orderDetail.ptice === ''}">Place</button>
      </div>
    </div>
  </div>
</jw-modal>