button.lot-active {
  border: 1px solid #daa520;
  margin-bottom: 5px;
}
input.inc-input[type="number"] {
  -moz-appearance: textfield;
}
input.inc-input[type="number"]::-webkit-inner-spin-button,
input.inc-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.disabled{
  pointer-events: none;
}

.text-center{
  text-align: center;
  padding: 5px;
}

input#sl-tp{
  height: 40px !important;
  width:90px !important;
}

.check-text{
  text-align: center;
  color: red;
  font-size: smaller;
}

 select::-ms-expand {
  display: none;
  border: 1px;
}
select {
  /* font-style: oblique; */
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  line-height: inherit;
  -moz-appearance: none;
  -ms-appearance: none;
} 

select:hover{
  border-color: #3f77bd;
}

select:focus {
  border-bottom-color: #000;
  box-shadow: #212122 
} 

.upadte{
  color: #40c44b;
  border-color: #40c44b;
}



.rule-ui1 nav a.nav-item.active{
  color: #000;
  background-color: #fff;
}
.rule-ui1 nav a.nav-item:hover {
  color: #fff;
  background-color: goldenrod;
  border: none;
}
.rule-ui1 nav a.nav-item {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  background: #0f6775;
  border-right: 1px solid #dddd;
  border-radius: 0;
  margin: 1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
  justify-content: center;
}

#modal-2{
  padding-left: 5%;
  padding-right: 5%;
}
#modal-1{
  padding-left: 5%;
  padding-right: 5%;
}