<!-- sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->

  <!-- Sidebar -->
  <div class="sidebar animated fadeIn">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 text-center text-white">
      <a routerLink="/">
        <img class="img-fluid" src="assets/img/logo.png" alt="" />
      </a>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2" *ngIf="hideElement">
      <ul class="nav nav-pills nav-leftbar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/market" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/qoutes.svg" alt="">
            Market
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/order" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/trade.svg" alt="">
            Position
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/order-book" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/history.svg" alt="">
            Order Book
          </a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/history" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/history.svg" alt="">
            history
          </a>
        </li> -->
        <li class="nav-item">
          <a routerLink="/statement" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/statement.svg" alt="">
            Statement
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/new-rules" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/rule.png" alt="">
            Rules
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/calculations" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/calculator.png" alt="">
            Calculations
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/news" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/news.png" alt="">
            News
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/complain" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/complain.svg" alt="">
            Complain
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/print" routerLinkActive="" class="nav-link">
            <img class="img-fluid" src="assets/img/download.svg" alt="">
            Download
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/about-us" routerLinkActive="active" class="nav-link">
            <img class="img-fluid" src="assets/img/about.png" alt="">
            About Us
          </a>
        </li>
      </ul>
    </nav>

     <!-- Sidebar Menu -->
     <nav class="mt-2" *ngIf="!hideElement">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/ac/profile" routerLinkActive="active" class="nav-link px-2">
            <i class="fa fa-user mr-1"> </i> <p> Profile</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/ac/change-password" routerLinkActive="active" class="nav-link px-2">
            <i class="fa fa-unlock mr-1"></i> 
            <p> change password</p>
          </a>
        </li>
      </ul>
<!--      <div class="text-center my-2 upcoming-soon">-->
<!--        <img class="img-fluid animated zoomIn delay-1s mb-1" src="https://www.graphicassociates.com/wp-content/uploads/2019/05/coming-soon.png" alt="" />-->
<!--        <br />-->
<!--        <ul class="nav nav-pills nav-sidebar flex-column">-->
<!--          <li class="nav-item"> casino <span class="green-blink"><i class="fa fa-circle"></i></span></li>-->
<!--          <li class="nav-item"> golf <span class="green-blink"><i class="fa fa-circle"></i></span></li>-->
<!--          <li class="nav-item"> boxing <span class="green-blink"><i class="fa fa-circle"></i></span></li>-->
<!--          <li class="nav-item"> baseball <span class="green-blink"><i class="fa fa-circle"></i></span></li>-->
<!--        </ul>-->
<!--      </div>-->
    </nav>
    <!-- /.sidebar-menu -->

  </div>
  <!-- /.sidebar -->
</aside>
<!-- sidebar -->
