<div class="row">
  <!-- /.col -->
  <div class="col-md-12">
    <div class="row justify-content-end">
      <div class="col-md-12 p-2 bg-blue-head">
        <ul class="nav list-inline">
          <li class="list-inline-item">
            <h5 class="page-title">Profile</h5>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="row justify-content-center">
          <div class="col-12 px-0">
            <div class="table-responsive bg-white rounded">
              <table class="table text-center mb-0">
                <tbody *ngIf="aList">
                <tr>
                  <td>Name</td>
                  <td>{{aList?.Name}}</td>
                </tr>
                <tr>
                  <td>User Name</td>
                  <td>{{aList?.userName}}</td>
                </tr>
                <tr>
                  <td>Balance</td>
                  <td>{{aList?.balance.balance}}</td>
                </tr>
<!--                <tr>-->
<!--                  <td>Exposure</td>-->
<!--                  <td>{{aList[0]?.expose}}</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td>My Wallete</td>-->
<!--                  <td>{{aList[0]?.mywallet}}</td>-->
<!--                </tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
