<div class="row rule-ui border border-light">
  <div class="col-md-12 px-0">
    <h2>About Us</h2>
    <div class="bg-light py-3 mx-1 mb-1">
      <h5 class="text-capitalize text-center bg-primary py-2">Welcome to <b class="text-uppercase">metagold</b></h5>
      <p> Metagold Trader is new share market website which is developed in 2020, it is commodity market
        which include GOLD, SILVER , USDINR and CRUDEOIL and other categories of market. </p>
      <p> As we establishing our new website wanted to empower every Indian investor who had been brought up on a diet
        of
        what his broker assured him
        and the media fed him with 100% independent and unbiased investing opinions. </p>
      <p> If you are new to this site, let us assure you that all you will find here is our 100% unbiased approach to
        recommending good stocks and derivatives,
        so you can build your wealth - sensibly.
      <p> And we believe we will made more progress with your trust.</p>
      <p> We believe any businesses can grow with a conscience, and succeed with a soul — and that they can do it with
        inbound.
      </p>
      <p> That's why we've created this platform .</p>
      <p> It is the leap we take from today, towards a brighter tomorrow. IN a world that changes shape by the second,
        we
        constantly reinvent ourselves to redefine the future.</p>
      <p> Our ambition gives us direction.</p>
      <p> Metagold is committed to above core values.</p>
      <p>For more transparency with client we show our calculations to know how they will take profit or loss in terms
        of
        condition and because of this they will also know proper margin and commission on their balance.
      </p>
    </div>

    <div _ngcontent-c6="" class="news-ui">
      <div _ngcontent-c6="" class="col-md-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Privacy And Policy
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p> Metagold recognizes that your privacy is very important, and we take it seriously.</p>
                <p> This Privacy Policy describes the way in which Metagold deal with the information and
                  data you provide to us to enable us to manage your relationship with Metagold Trader.</p>
                <p> Your personal Information and data is confidential and in secure hand.</p>
                <p> By accepting the privacy policy you agree that you understand and accept the use of your personal
                  information as
                  set out in this Privacy Policy. </p>
                <p> If you do not agree with the terms of this Privacy Policy please do not use the Website or otherwise
                  provide us
                  with your personal information.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Changes To Our Privacy Policy
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p> If we decide to change our privacy policy, we will post those changes on this page,
                  and/or update the Privacy Policy modification date below.</p>
                <p> We will communicate the changes to you in advance, giving an appropriate amount of time for you to
                  consider and
                  understand the changes before they become effective.
                </p>
                <p> We recommend that you check the Website from time to time to keep yourself updated of any changes in
                  this
                  Privacy Policy.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Purpose
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p> Committed to improve the Quality of our website to improve financial well-being of people.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseOne">
                  Vision
                </button>
              </h5>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <p> To continue to be a leader, establish global presence, facilitate the financial well-being of
                  people.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                  aria-expanded="false" aria-controls="collapseOne">
                  Rules
                </button>
              </h5>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <p> Rules Related to metagold are defined in Rules section on home page </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                  aria-expanded="false" aria-controls="collapseOne">
                  Contacting Us
                </button>
              </h5>
            </div>

            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                <p> If you have any concerns, or would like more detail about us,
                  you can contact us using data <b class="text-uppercase">@Metagold</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>