@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu/Ubuntu-Regular.eot');
    src: url('Ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
        url('Ubuntu/Ubuntu-Regular.woff') format('woff'),
        url('Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body.login-bg{
  height: auto;
  background: url(../img/login-bg.jpg);
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}
body.forget-bg{
  height: auto;
  background: url(../img/login-bg.jpg);
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}
html{
  background: none;
}
.login100-form .error {
  position: absolute;
  font-size: 12px;
  color: red;
  text-transform: capitalize;
  margin-top: 3px;
  letter-spacing: 1px;
  right: 0px;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrap-login100 {
    overflow: hidden;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.95);
    width: 30%;
    min-height: 100vh;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    float: right;
}
.wrap-login100-forget {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
  /*background: url(../img/forget-bg.jpg);*/
  background-position: bottom;
  background-size: cover;
}
.login100-form {
  width: 80%;
}
.login100-form-title {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.login100-form-title img{
  width: 250px;
}
.login100-form .log-form-group{
  position: relative;
  margin: 20px 0;
}
.login100-form .log-input{
  background: no-repeat;
  border: none !important;
  border-bottom: 1px solid #fff !important;
  border-radius: 0;
  padding: 0 10px;
  color: #fff;
  padding: 12px 15px;
  width: 100%;
  font-style: italic;
  font-size: 18px;
}
.login100-form .log-input:focus{
  outline: none !important;
  box-shadow: none !important;
  border:none !important;
  border-bottom: 1px solid #fff !important;
}
.login100-form .log-input::placeholder{
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 18px;
}
.login100-form .checkbox-login {
  line-height: 0;
}
.login100-form .checkbox-login input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.login100-form .checkbox-login label {
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
  font-weight: 500 !important;
  letter-spacing: 2px;
  font-size: 18px;
  font-style: italic;
}
.login100-form .checkbox-login label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: sub;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 0px;
}
.login100-form .checkbox-login input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border:1px solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.login100-form button.login-button{
  padding: 7px;
  width: 100%;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  background: #fabe38;
  border-radius: 0px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.9s;
  color: #fff;
  display: block;
}
.login100-form button.login-button:hover{
  background: #fff;
  color: #000;
}
.login100-form .unhider{
  position: absolute;
  right: 15px;
  top: 10px;
}
.login100-form .unhider a{
  color: #fff;
}
.login100-form .unhider a:hover{
  color: #ddd;
}
.login100-form a.android-anchor {
  float: right;
}
.login100-form .android-logo {
  width: 35px;
  background: #fff;
  border-radius: 100%;
  padding: 3px;
  border: none;
  margin-right: 5px;
}
.login100-form .log-form-group span {
  text-transform: capitalize;
  font-size: 10px;
  color: #9e7922;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 5px;
  padding: 0;
}
.login100-form .apk-text{
  animation:apkText 5s infinite;
  font-size: 12px !important;
}
@keyframes apkText{
  10%{   color: #78c457;  }
  30%{  color: #fff; }
  60%{  color: #78c457; }
  90%{  color:#fff;  }
  100%{ color: #78c457;  }
}

.login100-form .vdo-text{
  animation: vdoText 5s infinite;
  font-size: 12px !important;
}
@keyframes vdoText{
  10%{   color: red;  }
  30%{  color: #fff; }
  60%{  color: red; }
  90%{  color:#fff;  }
  100%{ color: red;  }
}

.login100-form .video-logo {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  border: none;
  margin-right: 5px;
}

.login100-form .demo-text{
  animation: demoText 5s infinite;
  font-size: 15px !important;
}
@keyframes demoText{
  10%{   color:  #9e7922;  }
  30%{  color: #fff; }
  60%{  color:  #9e7922; }
  90%{  color:#fff;  }
  100%{ color:  #9e7922;  }
}
/*Terms*/
.terms-bg{
  background: url(../img/login-bg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.terms-black-overlay{
    background: rgba(0, 0, 0, 0.83);
    height: 100vh;
    padding: 20px 15px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 0px 20px 1px #4a4a4a;
}
.terms-black-overlay img{
  width: 200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  padding-bottom: 10px;
}
.terms-black-overlay ul{
  margin: 0;
  width: 100%;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  padding: 0px 25px;
  position: relative;
}
.terms-black-overlay li{
  list-style: decimal;
  color: #c5c5c5;
  text-align: justify;
  margin-bottom: 0.5em;
  font-size: 16px;
  padding-left: 10px;
  line-height: 25px;
}
.terms-black-overlay li:last-child{
margin: 0;
}
.terms-black-overlay .agree, .terms-black-overlay .disagree{
  width: 49%;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 0;
  border: none;
  box-shadow: inset 0px 0px 0px 1px #ddd;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 5px;
  transition: 0.9s;
}
.terms-black-overlay .agree:hover, .terms-black-overlay .disagree:hover {
  background: #9e7922;
  box-shadow: none;
  color: #fff;
}
a.agree.ripple {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 46%;
}
a.disagree.ripple {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 46%;
}
/*Terms*/
/*Responsive*/
@media (max-width: 768px) {
  .login100-form {
    width: 90%;
  }
  .wrap-login100{
    float: none;
    width: auto;
  }
  .login100-form-title img{
    width: 200px;
  }
  .login100-form .log-form-group{
    margin: 20px 0;
  }
  .login100-form-title{
    margin-bottom: 10px;
  }

}
/*Responsive*/

.overlay-on-login{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.overlay-on-login .ool{
  width: 100vw;
  text-align: center;
  background: #000000c4;
  height: 400px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 10px solid #FFCC00;
}
.overlay-on-login .ool h2:before {
  content: '\f071';
  font-family: "FontAwesome";
  font-weight: 900;
  color: #FFCC00;
  display: block;
  font-size: 100px;
}
.overlay-on-login .ool h2{
  color: #fff;
  text-transform: uppercase;
  font-family: monospace;
  margin: 0;
  font-weight: 900;
}
