<section class="terms-bg">
  <div class="row m-0 justify-content-center">

    <div class="col-md-5">

      <div class="terms-black-overlay">

        <img class="img-fluid logo" src="assets/img/logo.png" alt="">
        <ul>
          <li> This is an educations website just for study purpose</li>
          <li>  Admin monitor all the activity and take a final decision</li>
          <li>  All your settlement has done every weekly</li>
          <li> This system is fully automation nothing manual operation will happen in the website
            In case of any bad activity, the user will ban using this website
          </li>
          <li> Due to any technical issue software not work properly at that time we are not responsible for any
            loss.
          </li>
          <li> All rates are based on standard mcx reference</li>
          <li> your position is auto square off when your loss becomes more than your margin reserve value</li>
          <li> you can square-off your position at the time of market open</li>
          <li> you can not perform any kind of square off after market close</li>
          <li> 1. 2% margin will cut on every order placed</li>
        </ul>
        <a class="agree ripple" (click)="isAgree()">agree</a>
        <a class="disagree ripple" (click)="isDisagree()">disagree</a>
      </div>

    </div>

  </div>
</section>
