<app-header></app-header>
<app-footer></app-footer>
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 px-0">
          <marquee class="marquee-text" [innerHTML]="globleAnnouncement" onmouseover="stop()" onmouseout="start()"> This is a sample scrolling text that has scrolls in the left direction.</marquee>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</div>

<!-- Modal -->
<jw-modal id="custom-modal-11">
  <div class="modal-content">
    <div class="modal-header align-items-center">
      <button type="button" (click)="closeModal()" class="close jw-modal" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-close text-light"></i>
      </button>
    </div>
    <div class="modal-body p-0" style="display: contents;">
      <img [src]="bannerImg" height="100%" width="100%">
    </div>
  </div>
</jw-modal>
