<div class="rule-ui1 row">
  <nav>
    <div class="nav nav-tabs nav-fill border-0 text-uppercase text1-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" data-toggle="tab" role="tab" routerLink="commodity" routerLinkActive="active">Commodity</a>
      <a class="nav-item nav-link" data-toggle="tab" role="tab" routerLink="share" routerLinkActive="active">Share</a>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>