<div class="wrap-login100">
  <form [formGroup]="form" (ngSubmit)="submit()" class="login100-form">

    <span class="login100-form-title">
      <img class="img-fluid" src="assets/img/logo.png" alt="">
    </span>

    <h4 class="text-h">Create Demo Account</h4>

    <div class="log-form-group">
      <label class="text">Name</label>
      <input class="log-input" type="text" minlength="3" maxlength="100" required formControlName="name"
        placeholder="Enter Name" pattern="[a-zA-Z][a-zA-Z ]+">
      <em class="error" *ngIf="frmName.invalid && (frmName.dirty || frmName.touched)">Name Invalid !</em>
      <span class="form-text small"> Name | Ex xyz | min 3 | max 20</span>
    </div>

    <div class="log-form-group">
      <label class="text">Username</label>
      <input type="text" minlength="3" maxlength="50" required formControlName="username" class="log-input"
        placeholder="Enter Username" autocomplete="off">
      <em class="error" *ngIf="frmUsername.invalid && (frmUsername.dirty || frmUsername.touched)">Username
        Invalid !</em>
      <span class="form-text"> Username | Ex xyz | min 3 | max 20</span>
    </div>

    <div class="log-form-group">
      <label class="text">Password</label>
      <input type="password" minlength="8" maxlength="50" required formControlName="password" class="log-input"
        placeholder="Enter Password" autocomplete="off">
      <em class="error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">Password
        Invalid !</em>
      <span class="form-text"> Password | Ex xyz@#$123ABC | min 6 | max 20</span>
    </div>

    <div class="log-form-group">
      <label class="text">What's App Number</label>
      <input type="text" maxlength="10" minlength="10" formControlName="remark" class="log-input" required
        placeholder="Enter What's App Number">
      <em class="error" *ngIf="frmRemark.invalid && (frmRemark.dirty || frmRemark.touched)">Number Invalid !</em>
      <span class="form-text small">What's App No | Ex 8888888888</span>
    </div>

    <div class="log-form-group">
      <div *ngIf="errorMsg" style="color: red;">
        {{errorMsg}}
      </div>
      <div *ngIf="successMsg" style="color: green;">
        {{successMsg}}
      </div>
      <button [ngClass]="{'disabled': !form.valid}" class="login-button">
        Submit
      </button>
    </div>

  </form>
</div>