<div class="row" id="not-print">
  <!-- /.col -->
  <div class="col-12 p-2 bg-blue-head">
    <ul class="nav list-inline">
      <li class="list-inline-item">
        <h5 class="page-title">Statement Detail</h5>
      </li>
    </ul>
  </div>
  <div class="col-md-6 mt-2">
    <form class="statement-form">
      <div class="form-row">
        <div class="col">
          <input type="date" class="form-control" name="startDate" #startdate placeholder="From">
        </div>
        <div class="col">
          <input type="date" class="form-control" name="endDate" #enddate placeholder="To">
        </div>
        <div class="col">
          <button class="btn btn-secondary" (click)="filterByDate()">Get Statement</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 mt-2">
    <div class="btn-toolbar pull-right statement-buttons" role="toolbar" aria-label="">
      <div class="btn-group" role="group" aria-label="">
        <button type="button" (click)=print() class="btn btn-secondary"><i class="fa fa-download"></i>
          Download</button>
      </div>
    </div>
  </div>

  <div class="table-responsive">

    <table class="table table-theme">
      <thead class="bg-golden">
        <tr>
          <th>Client ID</th>
          <th>Client Name</th>
          <th>Parent ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Profitloss</th>
          <th>Opaning Balance</th>
          <th>Closeing Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{dList.clientId}}</td>
          <td>{{dList.clientName}}</td>
          <td>{{dList.parentId}}</td>
          <td>{{dList.startDate}}</td>
          <td>{{dList.endDate}}</td>
          <td>{{dList.profitLoss}}</td>
          <td>{{dList.openingBalance}}</td>
          <td>{{dList.closingBalance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row" id="to-print" aria-hidden="true" style="display: none;">
  <div class="col-12 p-2 bg-blue-head">
    <ul class="nav list-inline">
      <li class="list-inline-item">
        <h3 class="page-title1"><b>Statement Detail</b></h3>
      </li>
    </ul>
  </div>

  <div class="table1-responsive">
    <table class="table1 table1-theme">
      <thead class="bg-golden">
        <tr>
          <th>Client ID</th>
          <th>Client Name</th>
          <th>Parent ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Profitloss</th>
          <th>Opaning Balance</th>
          <th>Closeing Balance</th>
        </tr>
      </thead>
      <tbody class="px-1">
        <tr>
          <td><b>{{dList.clientId}}</b></td>
          <td><b>{{dList.clientName}}</b></td>
          <td><b>{{dList.parentId}}</b></td>
          <td><b>{{dList.startDate}}</b></td>
          <td><b>{{dList.endDate}}</b></td>
          <td><b>{{dList.profitLoss}}</b></td>
          <td><b>{{dList.openingBalance}}</b></td>
          <td><b>{{dList.closingBalance}}</b></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <div class="table1-responsive">

      <table class="table1 table1-theme">
        <thead class="bg-golden">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Order date </th>
            <th scope="col">Type</th>
            <th scope="col">description</th>
            <th scope="col">credit</th>
            <th scope="col">debit</th>
            <th scope="col">Balance</th>
            <th scope="col">close buy price</th>
            <th scope="col">close sell price</th>
            <th scope="col">commission</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sItem of cList">
            <td>{{sItem?.id}}</td>
            <td>{{sItem?.created_at}}</td>
            <td>{{sItem?.trans_type || '--'}}</td>
            <td><b>{{sItem?.description || '--'}}</b></td>
            <td style="color: green;">{{sItem?.type === 'CREDIT' ? sItem?.amount : '0.00'}}</td>
            <td style="color: red;">{{sItem?.type === 'DEBIT' ? sItem?.amount : '0.00'}}</td>
            <td>{{sItem?.balance}}</td>
            <td>{{sItem?.closeBuyPrice || '--'}}</td>
            <td>{{sItem?.closeSellPrice || '--'}}</td>
            <td>{{sItem?.commission || '--'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>