@media print {
body * {
      visibility: hidden;
      color: lavender;
    }
  
#not-print * {
      display: none;
    }
  
#to-print, #to-print * {
      visibility: visible;
    }
  
#to-print {
      display: block !important;
      position: absolute;
      left: 0;
      top: 0;
      width: auto;
      height: 99%;
    }
}

.table1-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table1{
  width: 100%;
  padding: 2px;
}
.table1 tbody {
  background-color: #fff;
}
.table1 thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #000;
}

.table1 th, .table1 td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #000;
}

.table1-theme td {
  /* color: #d0d0d0; */
  text-transform: capitalize;
  font-size: 14px;
  border-color: #101010 !important;
}

.table1-theme th {
  text-transform: uppercase;
  /* color: #fff; */
  letter-spacing: 1px;
  font-weight: 600;
  padding: 4px 10px !important;
  font-size: 14px;
}


.page-title1 {
  margin: 0;
  padding: 0;
  /* color: #fff; */
  text-transform: capitalize;
}

