<!-- Start Content-->
<div class="container-fluid">

  <div class="row">
    <!-- /.col -->
    <div class="col-12 p-2 bg-blue-head">
      <ul class="nav list-inline">
        <li class="list-inline-item">
          <h5 class="page-title">File Complain </h5>
        </li>
      </ul>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form text-light">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()">

              <div class="form-group mb-3">
                <label>Title<span class="text-danger">*</span></label>
                <div>
                  <input type="text" class="title-input form-control" formControlName="title" placeholder="title" pattern="([^\s][A-z0-9À-ž\s]+)"
                    name="title" autocomplete="off" required >
                  <div class="text-danger" *ngIf="frmTitle.invalid && (frmTitle.dirty || frmTitle.touched)">
                    Invalid Title, please retry again !!
                  </div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Information<span class="text-danger">*</span></label>
                <div>
                  <textarea required formControlName="information" class="info-input form-control" pattern="([^\s][A-z0-9À-ž\s]+)"
                    placeholder="Enter Information"></textarea>
                  <div class="text-danger"
                    *ngIf="frmInformation.invalid && (frmInformation.dirty || frmInformation.touched)">
                    Invalid Information, please retry again !!</div>
                </div>
              </div>

              <div class="form-group mb-3">
                <!-- <label>Image</label>
                <input type="file" (change)="upload($event)" /> -->
                <!-- <ng-container *ngIf="uploadSuccess">
                    Upload Successful
                  </ng-container> -->
                <label for="file">Image</label>
                <div>
                  <input type="file" id="file" (change)="upload($event.target.files)">
                  <div class="col-md-6">
                    <div *ngIf="fileUpload.status==='error'">
                      <div [innerHTML]="fileUpload.message"></div>
                    </div>
                    <div *ngIf="fileUpload.status==='progress'">
                      <div class="progress" style="height: 20px;margin-bottom:20px;">
                        <div class="progress-bar" role="progressbar" [style.width.%]="fileUpload.message"
                          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{fileUpload.message}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm.valid }" style="width: 130px">submit</button>
                  <a class="btn btn-secondary btn-md text-light" routerLink="/complain" style="width: 130px">Cancel</a>
                </div>
              </div>
              <p class="text-danger">{{ error }}</p>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->
</div> <!-- container -->