<div class="wrapper" *ngIf="!isDevActive || this.isDev === 'dev'">
<!-- <div class="wrapper">-->
  <router-outlet></router-outlet>
</div>
<div class="dt-tool" *ngIf="isDevActive && this.isDev === 'prod'">
  <section class="section1">
    <h2 class="tool-text">Please close developer tool</h2>
    <div class="set">
      <div><img src="assets/img/raster.png" height="120px" width="120px"></div>
      <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
      <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
      <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
      <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
      <div><img src="assets/img/raster.png" height="120px" width="120px"></div>
      <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
      <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
      <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
      <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
      <div class="set set2">
        <div><img src="assets/img/raster.png" height="240px" width="240px"></div>
        <div><img src="assets/img/raster.png" height="200px" width="200px"></div>
        <div><img src="assets/img/raster.png" height="200px" width="200px"></div>
        <div><img src="assets/img/raster.png" height="200px" width="200px"></div>
        <div><img src="assets/img/raster.png" height="200px" width="200px"></div>
        <div class="set set3">
          <div><img src="assets/img/raster.png" height="120px" width="120px"></div>
          <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
          <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
          <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
          <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
          <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
          <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
          <div><img src="assets/img/raster.png" height="100px" width="100px"></div>
        </div>
      </div>
    </div>
  </section>
</div>
