<div class="wrap-login100">
  <form  [formGroup]="form" (ngSubmit)="submit()" class="login100-form">

        <span class="login100-form-title">
          <img class="img-fluid" src="assets/img/logo.png" alt="">
        </span>

    <div class="log-form-group">
      <input class="log-input" formControlName="oldpassword" type="password" name="current-password" placeholder="current password">
      <!-- <div class="unhider">
        <a href=""><i class="fa fa-eye"></i></a>
        <a href=""><i class="fa fa-eye-slash"></i></a>
      </div> -->
      <div class="error"  *ngIf="frmOldpassword.invalid && (frmOldpassword.dirty || frmOldpassword.touched)">
        invalid password, please retry again
      </div>
    </div>

    <div class="log-form-group">
      <input class="log-input" type="password" type="{{passwordType}}"  formControlName="password" name="new-password" placeholder="new password">
      <div class="unhider">
        <a (click)="viewPassword(passwordType)"><i class="fa" [ngClass]="{'fa-eye-slash': passwordType === 'password','fa-eye': passwordType === 'text'}"></i></a>
      </div>
      <span class="form-text small">The password must be 8-20 characters, and must <em>not</em> contain spaces.</span>
      <!-- <div class="error mt-0">
        invalid password, please retry again
      </div> -->
      <div *ngIf="f.password?.invalid && (f.password?.dirty || f.password?.touched)" [ngStyle]="{'margin-bottom': '30px'}">
        <div *ngIf="f.password?.errors && f.password?.errors?.required" class="error mt-0">Enter New Password</div>
        <div *ngIf="f.password?.errors && f.password?.errors?.minLength" class="error mt-0">Minimum Password length is 6 Char.</div>
        <div *ngIf="f.password?.errors && f.password?.errors?.pattern" class="error mt-0">Password minimum 6 characters,1 (uppercase & lowercase) letter,1 special character ,1 digits </div>
      </div>
    </div>

    <div class="log-form-group">
      <input class="log-input" type="password"  type="{{cPasswordType}}"  formControlName="cpassword" name="verify-password" placeholder="verify">
      <div class="unhider">
        <a (click)="viewcPassword(cPasswordType)"><i class="fa" [ngClass]="{'fa-eye-slash': cPasswordType === 'password','fa-eye': cPasswordType === 'text'}"></i></a>
      </div>
      <span class="form-text small">The password must be 8-20 characters, and must <em>not</em> contain spaces.</span>
      <div class="error mt-0" *ngIf="frmCpassword.invalid && (frmCpassword.dirty || frmCpassword.touched)">
        Enter Confirm Password
      </div>
      <div class="error mt-0" *ngIf="frmCpassword.valid && (frmCpassword.dirty || frmCpassword.touched) && f.password.value !== f.cpassword.value">
        Password can not match Confirm Password
      </div>
    </div>

    <div class="log-form-group">
      <button [ngClass]="{'disabled': !form.valid}" class="login-button">
        Submit
      </button>
      <div class="error" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
    </div>

  </form>
</div>
