<div class="row rule-ui border border-light">
  <div class="col-md-12 px-0">
    <h2>Rules</h2>
    <ul>
      <li> This is an educations website just for study purpose</li>
      <li> Admin monitor all the activity and take a final decision</li>
      <li> All your settlement has done every weekly</li>
      <li> This system is fully automation nothing manual operation will happen in the website
        In case of any bad activity, the user will ban using this website
      </li>
      <li> Due to any technical issue software not work properly at that time we are not responsible for any
        loss.
      </li>
      <li> All rates are based on standard mcx reference</li>
      <li> your position is auto square off when your loss becomes more than your margin reserve value</li>
      <li> you can square-off your position at the time of market open</li>
      <li> you can not perform any kind of square off after market close</li>
      <li> 1. 2% margin will cut on every order placed</li>
    </ul>
  </div>
</div>