<!--      <?php include('marquee.php') ?>-->
<div class="row">
  <!-- /.col -->
  <div class="col-md-12">
    <div class="row justify-content-end">
      <div class="col-md-12 p-2 bg-blue-head">
        <ul class="nav list-inline add-edit-btn pull-right">
          <li class="list-inline-item">
            <a (click)="openModal('custom-modal-2','Add')" class="text-light">
              <img class="img-fluid" src="assets/img/add.svg" alt="add">
              Add Market
            </a>
          </li>
          <li class="list-inline-item">
            <a (click)="openModal('custom-modal-2','Remove')" class="text-light">
              <img class="img-fluid" src="assets/img/edit.svg" alt="edit">
              Remove Market
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 mt-2" *ngIf="isActive === false">
        <div class="row border-grid" #quoteRef>
          <div class="col-md-6 col-12" *ngFor="let qItem of qList">
            <a (click)="openModal('custom-modal-1', qItem)">
              <!--data-toggle="modal" data-target="#SellModal"-->
              <div class="bg-card trade-acc">
                <div class="row align-items-center">
                  <div class="col-md-8 col-5 px-1">
                    <p class="trade-name">
                      {{qItem?.name}}
                      <span class="trade-timer">{{qItem?.expiry}}</span>
                    </p>
                    <!-- <span class="trade-text">spread 15</span> -->
                  </div>
                  <div class="col-md-2 col-3 px-1">
                    <p class="low-high-trade">
                      <b class="red">{{qItem?.depth.sell}}</b>
                    </p>
                    <small class="tht-text">low: {{qItem?.low}}</small>
                  </div>
                  <div class="col-md-2 col-4 px-1">
                    <p class="low-high-trade m-0">
                      <b class="golden-dark">{{qItem?.depth.buy}}</b>
                    </p>
                    <small class="tht-text">high: {{qItem?.high}}</small>
                  </div>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col -->
</div>

<!-- Modal -->
<div id="modal-1" *ngIf='isActive === true && isActiveCnfm === false' class="py-2">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="text-center">Place Order</h5>
      <button type="button" class="close" (click)="modelClosed()">×</button>
    </div>

    <div class="modal-body">
      <div class="buy-sell-ui">
        <form #myform="ngForm">
          <!-- <div class="align-items-center">
            <h5 class="text-center">Place Order</h5>
          </div> -->

          <div class="form-group align-items-center row col-12">
            <h6 class="modal-title col-10">{{orderDetail.name}} -
              <small>{{orderDetail.tradingSymbol}}</small>
              <div>
                <small>{{orderDetail.expiry}}</small>
              </div>
            </h6>

            <div class="pull-right col-2">
              <div class="my-1 row">
                <div class="col-6 text-right" *ngIf="type === 'SELL'">
                  <span class="bs-price red" #sellRate>{{orderDetail?.sellPrice}}</span>
                </div>
                <div class="col-6 text-left" *ngIf="type === 'BUY'">
                  <span class="bs-price golden" #buyRate>{{orderDetail?.buyPrice}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Product Type
            </div>
            <div class="form-group col-6">
              <select class="form-control" name="productOption" [(ngModel)]="productOption"
                (change)="productOptionChange($event.target.value)">
                <option *ngFor="let option of productTypeOpnList" value="{{option?.value}}">{{option?.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Retention Type
            </div>
            <div class="col-6">
              <div class="form-group">
                <select class="form-control" name="retentionOption" [(ngModel)]="retentionOption"
                  (change)="retentionOptionChange($event.target.value)" *ngIf="productOption != 'CO'">
                  <option *ngFor="let option of retentionTypeOpnList" value="{{option?.value}}">{{option?.name}}
                  </option>
                </select>
                <select class="form-control" name="retentionOption" [(ngModel)]="retentionOption"
                  (change)="retentionOptionChange($event.target.value)" *ngIf="productOption === 'CO'" disabled>
                  <option value='DAY'>DAY</option>
                </select>
              </div>
              <div class="text-center">
                <span class="text-golden small" *ngIf="productOption === 'CO'">
                  If product type is <b>{{productOption}}</b> then defualt retention type is {{retentionOption}}</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Order Type
            </div>
            <div class="col-6">
              <div class="form-group">
                <select class="form-control" name="ot_type" [(ngModel)]="orderOption"
                  (change)="orderOptionChange($event.target.value)" *ngIf="productOption != 'CO' && productOption != 'BO'">
                  <option *ngFor="let option of orderTypeOpnList" value="{{option?.value}}">{{option?.name}}</option>
                </select>
                <select class="form-control" name="ot_type" [(ngModel)]="orderOption"
                  (change)="orderOptionChange($event.target.value)" *ngIf="productOption === 'CO'">
                  <option value='MARKET'>MARKET</option>
                  <option value='LIMIT'>LIMIT</option>
                </select>
                <select class="form-control" name="ot_type" [(ngModel)]="orderOption"
                  (change)="orderOptionChange($event.target.value)" *ngIf="productOption === 'BO'" disabled>
                  <option value="LIMIT" >LIMIT</option>
                </select>
              </div>
              <div class="text-center">
                <span class="text-golden small" *ngIf="productOption === 'BO'">
                  If product type is <b>{{productOption}}</b> then defualt order type is {{orderOption}}</span>
              </div>
            </div>
          </div>

          <div class="input-group form-group" *ngIf="orderOption === 'LIMIT' || orderOption === 'SL'">
            <div class="col-6 text-center">
              Price
            </div>
            <div class="form-group col-6 row">
              <div class="input-group-prepend col-1" (click)="decrement('price')">
                <span class="input-group-text"> - </span>
              </div>
              <input type="number" name="price" class="form-control inc-input col-8" min="0"
                [(ngModel)]="orderDetail.price" [ngModelOptions]="{standalone: true}" placeholder="Price: 0.000000">
              <div class="input-group-append col-1" (click)="increment('price')">
                <span class="input-group-text"> + </span>
              </div>
            </div>
          </div>

          <div class="input-group form-group" *ngIf="productOption === 'CO' || orderOption === 'SL' || orderOption === 'SLM'">
            <div class="col-6 text-center">
              Trigger Price
            </div>
            <div class="form-group col-6 row">
              <div class="input-group-prepend col-1" (click)="decrement('price')">
                <!-- <span class="input-group-text"> - </span> -->
              </div>
              <input type="number" name="trigger_price" class="form-control inc-input col-8" min="0"
                [(ngModel)]="orderDetail.trigger_price" [ngModelOptions]="{standalone: true}"
                placeholder="Trigger Price: 0.000000">
              <div class="input-group-append col-1" (click)="increment('price')">
                <!-- <span class="input-group-text"> + </span> -->
              </div>
            </div>
          </div>

          <div class="input-group form-group"
            *ngIf="productOption === 'BO'">
            <div class="col-6 text-center">
              Stop Loss
            </div>
            <div class="input-group form-group col-6 row">
              <div class="input-group-prepend col-1" (click)="decrement('SL')">
                <span class="input-group-text"> - </span>
              </div>
              <input type="number" name="SL" class="form-control inc-input col-8" [(ngModel)]="orderDetail.SL"
                [ngModelOptions]="{standalone: true}" placeholder="SL">
              <div class="input-group-append" (click)="increment('SL')">
                <span class="input-group-text col-1"> + </span>
              </div>
            </div>
          </div>

          <div class="input-group form-group" *ngIf="productOption === 'BO'">
            <div class="col-6 text-center">
              Target Price
            </div>
            <div class="input-group form-group col-6 row">
              <div class="input-group-prepend col-1" (click)="decrement('TP')">
                <span class="input-group-text"> - </span>
              </div>
              <input type="number" name="TP" step="0.01" min="0" [(ngModel)]="orderDetail.TP"
                [ngModelOptions]="{standalone: true}" class="form-control inc-input col-8" placeholder="TP">
              <div class="input-group-append" (click)="increment('TP')">
                <span class="input-group-text col-1"> + </span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 text-center">
              Qty (Lots)
            </div>
            <div class="col-6">
              <div class="form-group input-group">
                <span class="input-group-text1 text-golden"> {{options.floor}} </span>
                <input type="number" [(ngModel)]="orderDetail.lot" class="form-control inc-input" name="lotCount"
                  placeholder="Enter Value">
                <span class="input-group-text1 text-golden"> {{options.ceil}} </span>
              </div>
              <div class="text-unit">{{options.unit}}</div>
            </div>
          </div>

          <div class="form-group row" *ngIf="productOption != 'CO' && productOption != 'BO'">
            <div class="col-6 text-center">
              Disc Qty (Lots)
            </div>
            <div class="form-group col-6">
              <input type="number" [(ngModel)]="orderDetail.disc_lot" class="form-control inc-input" name="discLot"
                placeholder="Enter Value">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer raw mx-0 border-buysell position-relative">

    <div class="col-12 row">
      <div class="col-6 text-center">
        <button type="button" (click)="modelClosed()" class="btn btn-buy">CANCLE</button>
      </div>
      <div class="col-6 text-center">
        <button type="button" (click)="confirmModel()" class="btn btn-buy"
          [ngClass]="{'disabled': !orderDetail.lot}">
          <span *ngIf="type === 'BUY'">REVIEW BUY ORDER</span>
          <span *ngIf="type === 'SELL'">REVIEW SELL ORDER</span>
        </button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="modal-2" *ngIf='isActiveCnfm === true' class="py-2">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="text-center">Confirm Order</h5>
      <button type="button" class="close" (click)="modelClosed()">×</button>
    </div>

    <div class="modal-body">
      <div class="buy-sell-ui">
        <form #myform="ngForm">
          <!-- <div class="align-items-center">
            <h5 class="text-center">Confirm Order</h5>
          </div> -->

          <div class="form-group row">
            <div class="col-6 text-left">
              Symbol
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.tradingSymbol}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Name
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.name}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Transaction Type
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.trans_type}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Order Type
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.ot_type}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Product Type
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.product_type}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Retention Type
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.retention_type}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Quantity (Lots)
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.lot}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Disc Quantity (Lots)
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail.disc_lot || "NA"}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Price
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail?.price || "NA"}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Trigger Price
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail?.trigger_price || "NA"}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Stop Loss
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail?.SL || "NA"}}</b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 text-left">
              Target Price
            </div>
            <div class="col-6 text-left">
              <b>{{orderDetail?.TP || "NA"}}</b>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer raw mx-0 border-buysell position-relative">

    <div class="col-12 row">
      <div class="col-6 text-center">
        <button type="button" (click)="editOrder()" class="btn btn-buy">EDIT</button>
      </div>
      <div class="col-6 text-center">
        <button type="button" (click)="placeOrder(orderDetail,type)" class="btn btn-buy">
          <!-- [ngClass]="{'disabled': orderDetail?.lot === '' || orderDetail?.price === ''}"> -->
          <span *ngIf="type === 'BUY'">Confirm BUY</span>
          <span *ngIf="type === 'SELL'">Confirm SELL</span>
        </button>
      </div>
    </div>

  </div>
</div>

<jw-modal id="custom-modal-2">
  <div class="modal-content">
    <div class="modal-header align-items-center">
      <h5 class="modal-title">Quotes
        <small>{{modelClick}}</small>
      </h5>
      <button type="button" (click)="closeModal('custom-modal-2')" class="close jw-modal" data-dismiss="modal"
        aria-label="Close">
        <i class="fa fa-close text-light"></i>
      </button>

    </div>
    <div class="card m-0">
      <div class="card-header p-1">
        <!-- <div class="input-group"> -->
        <i class="fa fa-search"></i>
        <!-- <pre>{{futureMarkets | json}}</pre> -->
        <!-- <input type="text" (input)="searchPosts($event.target.value)" class="form-control" placeholder="Find symbols"> -->
        <input type="text" [(ngModel)]="searchText" placeholder="Find symbols">
        <!-- </div> -->
      </div>
    </div>
    <div class="modal-body p-1">
      <div class="buy-sell-ui">
        <div class="card" style="width: 100%;">
          <ul class="list-group list-group-flush" *ngIf="modelClick=='Add'">
            <li class="list-group-item" *ngFor="let addItem of futureMarkets | filter : { name: searchText} : false">
              <h6>{{addItem?.name}}</h6>
              <div>{{addItem?.expiry}}</div>
              <span class="add-new right" (click)="addTofavorate(addItem?.instrument_token)">add</span>
              <!-- <p class="card-text">{{addItem?.tradingSymbol }}</p> -->
            </li>

          </ul>
          <!-- <div cdkDropList #todoList="cdkDropList"
          [cdkDropListData]="qListTMP" (cdkDropListDropped)="drop($event)">
            <ul class="list-group list-group-flush" *ngIf="modelClick=='Remove'" >
              <li class="list-group-item" *ngFor="let addItem of qListTMP | filter : { name: searchText} : false"
                cdkDrag> -->

          <ul class="list-group list-group-flush" *ngIf="modelClick=='Remove'">
            <li class="list-group-item" *ngFor="let addItem of qListTMP | filter : { name: searchText} : false">
              <h6>{{addItem?.name}}</h6>
              <div>{{addItem?.expiry}}</div>
              <span class="add-new right" (click)="removeMarket(addItem?.instrument_token)">remove</span>
              <!-- <p class="card-text">{{addItem?.tradingSymbol }}</p> -->
            </li>
          </ul>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="modal-footer raw mx-0 border-buysell position-relative">
      <!-- <div class="col-6 text-center">
        <button type="button" (click)="addNewQuote()" class="btn btn-sell" data-dismiss="modal">Add</button>
      </div> -->
      <div class="col-12 text-center">
        <button type="button" (click)="closeModal('custom-modal-2')" class="btn btn-buy">Cancel</button>
      </div>
    </div>
  </div>
</jw-modal>

