button.lot-active {
  border: 1px solid #daa520;
  margin-bottom: 5px;
}
input.inc-input[type="number"] {
  -moz-appearance: textfield;
}
input.inc-input[type="number"]::-webkit-inner-spin-button,
input.inc-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  border:none;
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.fa-search{
  color: gray;
  margin-top: 1.5%;
  font-size: 15px;
  padding: 5px;
}

span.add-new {
  right: 5px;
  position: absolute;
  top: 9px;
  text-transform: capitalize;
  color: green;
  font-size: 15px;
  font-weight: 600;
  padding: 2px 5px;
  border: 1px solid;
}

.disabled{
  pointer-events: none;
}

.text-center{
  text-align: center;
  padding: 5px;
}

.rule-ui1 nav a.nav-item.active, .rule-ui1 nav a.nav-item:hover {
  color: #fff;
  /* background-color: #1e2f40; */
  background-color: #c18c0d;;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
}

.rule-ui1 nav a.nav-item {
  color: #c18c0d;
  font-weight: 500;
  letter-spacing: 1px;
  background: #fff;
  /* border-bottom: 1px solid #495057; */
  border-right: 1px solid #495057;
  border-radius: 0;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
a {
  text-decoration: none;
  background-color: transparent;
}

.text-order-center{
  text-align: center;
  font-size: x-large;
  font-style: initial;
  color: red;
}

.text-last-price{
  text-align: center;
  font-size: 19px;
  font-style: initial;
  color: black;
}

.text-1{
  padding: 12px;
  text-align: center;
  font-size: 19px;
  font-style: initial;
}

.warning-icon{
  text-align: center;
  font-size: 60px;
  color: #ff5757;
}

body div.dragable-inner {
  will-change: transform;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  height: 50px;
  list-style-type: none;
  margin: 10px;
  background-color: white;
  color: #212121;
  width: 250px;
  line-height: 3.2;
  padding-left: 10px;
  cursor: move;
  transition: all 200ms;
  user-select: none;
  margin: 10px auto;
  position: relative;
}
body div.dragable-inner:after {
  content: 'drag me';
  right: 7px;
  font-size: 10px;
  position: absolute;
  cursor: pointer;
  line-height: 5;
  transition: all 200ms;
  transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
  transform: translateX(120%);
  opacity: 0;
}
body div.dragable-inner:hover:after {
  opacity: 1;
  transform: translate(0);
}
 
.over {
  transform: scale(1.1, 1.1);
}

.circle-sell{
color: red;
background-color: red;
border-radius: 12px 0px 12px 0px;
}
.circle-buy{
color: goldenrod;
background-color: goldenrod;
border-radius: 12px 0px 12px 0px;
}





/* .rule-ui1 nav a.nav-item.active{
color: #000;
background-color: #fff;
}
.rule-ui1 nav a.nav-item:hover {
color: #fff;
background-color: goldenrod;
border: none;
}
.rule-ui1 nav a.nav-item {
color: #fff;
font-weight: 500;
letter-spacing: 1px;
background: #0f6775;
border-right: 1px solid #dddd;
border-radius: 0;
margin: 1px;
} */

.nav-tabs .nav-link {
border: 1px solid transparent;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
}

/* .row {
display: flex;
flex-wrap: wrap;
margin-right: -7.5px;
margin-left: -7.5px;
justify-content: center;
} */

#modal-2{
padding-left: 5%;
padding-right: 5%;
}
#modal-1{
padding-left: 5%;
padding-right: 5%;
}

.input-group-text1 {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  /* font-size: 1rem; */
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  /* background-color: #e9ecef; */
  /* border: 1px solid #ced4da; */
  border-radius: 0.25rem;
}

.text-unit{
  text-align: center;
  font-size: 10px;
  color: goldenrod;
}