<div class="row news1-ui border border-light">
  <div class="col-md-12 px-0">
    <h2>News</h2>
    <div class="news2-ui">
      <div class="card col-md-12 px-1" *ngFor="let item of nList;let i = index;">
        <button class="btn btn-link accordion" (click)="toggleAccordian($event, i)">{{item.title}}</button>
        <div class="panel" hide="!item.isActive">
          <div [innerHtml]="item.information"></div>
        </div>
      </div>
    </div>
  </div>
</div>