<div class="row">
  <!-- /.col -->
  <div class="col-md-12 px-0">
    <div class="row justify-content-end align-items-center">
      <div class="col-7 p-2 bg-light">
        <ul class="nav list-inline">
          <li class="list-inline-item">
            <h5 class="page-title">history</h5>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-long-arrow-right text-dark align-middle"></i>
          </li>
          <li class="list-inline-item">
            <p class="trade-gbp">all symbols</p>
          </li>
        </ul>
      </div>
      <div class="col-5 p-2 bg-light">
        <ul class="nav list-inline add-edit-btn pull-right">
          <li class="list-inline-item dropleft">
            <a href="" data-toggle="dropdown">
              <i class="fa fa-refresh"></i>
            </a>
            <div class="dropdown-menu">
              <button (click)="filterDt('ALL')" [ngClass]="{'dt-active': filterName ===  'ALL'}">all symbols</button>
              <button (click)="filterDt('USDINR')" [ngClass]="{'dt-active': filterName ===  'USDINR'}">USDINR</button>
              <button (click)="filterDt('GOLD')" [ngClass]="{'dt-active': filterName ===  'GOLD'}">GOLD</button>
              <button (click)="filterDt('SILVER')" [ngClass]="{'dt-active': filterName ===  'SILVER'}">SILVER</button>
            </div>
          </li>
          <!-- <li class="list-inline-item dropleft">

            <a href="" data-toggle="dropdown">
              <i class="fa fa-exchange"></i>
            </a>
            <div class="dropdown-menu">
              <button *ngFor="let sItem of sortFilter" [ngClass]="{'dt-active': isSortFilter === sItem?.value}" (click)="changeSorting(sItem?.value)">{{sItem?.lable}}</button>
            </div>
          </li> -->
          <!-- <li class="list-inline-item">
            <a href="" data-toggle="dropdown">
              <i class="fa fa-file-excel-o"></i>
            </a>
            <div class="dropdown-menu">
              <button class="text-left" (click)="filters('today')">
                <i class="fa fa-calendar-minus-o" [ngClass]="{'dt-active': filterBtn === 'today'}"></i>
                <span>today <b>{{todayDT}}</b></span>
              </button>
              <button class="text-left" (click)="filters('7_day')">
                <i class="fa fa-calendar"  [ngClass]="{'dt-active': filterBtn === '7_day'}"></i>
                <span>last week <b>{{sevdayDT}}</b></span>
              </button>
              <button class="text-left" (click)="filters('30_day')">
                <i class="fa fa-calendar-check-o" [ngClass]="{'dt-active': filterBtn === '30_day'}"></i>
                <span>last month <b>{{thirtydayDT}}</b></span>
              </button>
              <button class="text-left"  (click)="filters('3_month')">
                <i class="fa fa-calendar-o" [ngClass]="{'dt-active': filterBtn === '3_month'}"></i>
                <span>last 3 month <b>{{threemonthDT}}</b></span>
              </button>
              <button class="text-left">
                <i class="fa fa-address-book"></i>
                <span>custom period</span>
              </button>
            </div>
          </li> -->
        </ul>
      </div>
      <div class="col-md-12 mt-2">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 px-0">

            <ul class="nav nav-pills nav-justified history-tabs" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="positions-tab" (click)="changeTabs('position')" data-toggle="pill" href="#positions" role="tab"
                   aria-controls="positions" aria-selected="true">Positions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="orders-tab"  (click)="changeTabs('order')" data-toggle="pill" href="#orders" role="tab" aria-controls="orders"
                   aria-selected="false">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="deals-tab"  (click)="changeTabs('deal')" data-toggle="pill" href="#deals" role="tab" aria-controls="deals"
                   aria-selected="false">Deals</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'position'}" id="positions" role="tabpanel" aria-labelledby="positions-tab">
                <div class="table-responsive border-bottom border-light">
                  <table class="table trade-table mb-1">
                    <tbody>
                    <tr>
                      <td class="text-left">
                        <b>profit:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden" [ngClass]="{'dt-red': profit < 0}">{{profit}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <b>swap:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden">{{swap}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <b>Balance:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden" [ngClass]="{'dt-red': balance < 0}">{{balance}}</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive" #historyRef>
                  <table class="table table-tposition">
                    <tbody>
<!--                    <tr *ngFor="let hItem of hList">-->
<!--                      <td class="text-left">-->
<!--                        <b>{{hItem?.name}},</b> <span-->
<!--                        class="red">{{hItem?.trans_type | lowercase}} {{hItem?.lot}}</span>-->
<!--                        <p>{{hItem?.lot + ' / ' + hItem?.lot}}-->
<!--                          at {{hItem?.trans_type === 'BUY' ? hItem?.buy_price : hItem?.sell_price}}</p>-->
<!--                      </td>-->
<!--                      <td class="text-right">-->
<!--                        <span class="fill-timer">-->
<!--                         {{hItem?.updated_at}}-->
<!--                          <em>filled</em>-->
<!--                        </span>-->
<!--                      </td>-->
<!--                    </tr>-->

<!--                    <tr>-->
<!--                      <td class="text-left">-->
<!--                        <b>usdchn,</b> <span class="red">sell 0.01</span>-->
<!--                        <p>0.01 / 0.01 at 0.9652412</p>-->
<!--                      </td>-->
<!--                      <td class="text-right">-->
<!--                                <span class="fill-timer">-->
<!--                                  2020.04.10 12:06:37-->
<!--                                  <em>filled</em>-->
<!--                                </span>-->
<!--                      </td>-->
<!--                    </tr>-->
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'order'}" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <div class="table-responsive border-bottom border-light">
                  <table class="table trade-table mb-1">
                    <tbody>
                    <tr>
                      <td class="text-left">
                        <b>filled:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden">{{filled}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <b>canceled:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden">{{canceled}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <b>total:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden">{{total}}</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive" #orderRef>
                </div>
              </div>
              <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'deal'}" id="deals" role="tabpanel" aria-labelledby="deals-tab">
                <div class="table-responsive border-bottom border-light">
                  <table class="table trade-table mb-1">
                    <tbody>
                    <tr>
                      <td class="text-left">
                        <b>profit:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden" [ngClass]="{'dt-red': profit1 < 0}">{{profit1}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <b>swap:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden">{{swap}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <b>Balance:</b>
                      </td>
                      <td colspan="3">
                        <span class="trade-td-border">&nbsp;</span>
                      </td>
                      <td class="text-right">
                        <span class="text-golden" [ngClass]="{'dt-red': balance1 < 0}">{{balance1}}</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive" #dealRef>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col -->
</div>


