<div class="rule-ui1 row">
  <div class="btn-toolbar pull-right statement-buttons" role="toolbar" aria-label="">
    <div class="btn-group" role="group" aria-label="">
      <button type="button" (click)="getOrderBook('All')" [ngClass]="{'active': filterBtn === 'All'}"
        class="btn btn-secondary">ALL</button>
      <button type="button" (click)="getOrderBook('Opan')" [ngClass]="{'active': filterBtn === 'Opan'}"
        class="btn btn-secondary">OPEN</button>
      <button type="button" (click)="getOrderBook('Comp')" [ngClass]="{'active': filterBtn === 'Comp'}"
        class="btn btn-secondary">COMP</button>
      <button type="button" (click)="getOrderBook('Canc')" [ngClass]="{'active': filterBtn === 'Canc'}"
        class="btn btn-secondary">CANC</button>
    </div>
  </div>
</div>
<div>
  <h2 class="sub-title row">
    <div class="col-md-6 col-5 px-1"><b>Symbol</b></div>
    <div class="col-md-3 col-3 px-1"><b>Product Status</b></div>
    <div class="col-md-3 col-3 px-1"><b>Pend/Qty Price</b></div>
  </h2>
  <div class="table-responsive">
    <div class="col-md-12 col-12" *ngFor="let item of dList">
      <!-- <a (click)="openModal('custom-modal-1', qItem)">-->
      <a data-toggle="collapse" href="#data1-{{item.id}}">
        <div class="bg-card trade-acc">
          <div class="row align-items-center">
            <div class="col-md-6 col-5 px-1">
              <span><small class="trade-timer">{{item?.created_at}}</small></span>
              <p class="trade-name ml-4">
                {{item?.name}}
                <span class="trade-timer">{{item?.expiry}}</span>
              </p>
            </div>
            <div class="col-md-3 col-3 px-1">
              <p class="low-high-trade text-left">
                <b class="golden">{{item?.product_type}}</b>
              </p>
              <small class="tht-text text-left" *ngIf="item?.status === 1">Open</small>
              <small class="tht-text text-left" *ngIf="item?.status === 2">Canc</small>
              <small class="tht-text text-left" *ngIf="item?.status === 5">Comp</small>
            </div>
            <div class="col-md-3 col-4 px-1">
              <p class="low-high-trade m-0 text-left">
                <b class="trade-name">{{item?.lot}}</b>
              </p>
              <small class="tht-text text-left" *ngIf="item?.trans_type === 'BUY'">{{item?.buy_price}}</small>
              <small class="tht-text text-left" *ngIf="item?.trans_type === 'SELL'">{{item?.sell_price}}</small>
            </div>
          </div>

          <div id="data1-{{item.id}}" class="collapse" >
            <div class="row">
              <a class="btn col-sm-2 col-5 btn-sell btn-sm btn-outline-danger text-center" (click)="cancleOrder(item)" *ngIf="filterBtn === 'Opan'">Cancle</a>
              <!-- <a class="btn-buy col-6 text-center">Modify</a> -->
            </div>
          </div>

        </div>
      </a>
    </div>
  </div>
</div>