.rule-ui1 nav a.nav-item.active{
    color: #000;
    background-color: #fff;
  }
.rule-ui1 nav a.nav-item:hover {
    color: #fff;
    background-color: goldenrod;
    border: none;
  }
.rule-ui1 nav a.nav-item {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    background: #0f6775;
    border-right: 1px solid #dddd;
    border-radius: 0;
    margin: 1px;
  }
  
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
    justify-content: center;
  }
  