<div class="row">
  <!-- /.col -->
  <div class="col-12 p-2 bg-blue-head">
    <ul class="nav list-inline">
      <li class="list-inline-item">
        <h5 class="page-title">Complain</h5>
      </li>
    </ul>
  </div>

  <div class="row ml-2">
    <div class="mt-1">
        <button class="btn btn-secondary" routerLink="/complain-create" style="width: 90px">File +</button>
    </div>
    <div class="row px-2">
      <div class="mt-2">
        <i class="fa fa-search text-light px-2"></i>
        <input type="text" [(ngModel)]="searchText" placeholder="Find Complain">
      </div>
  </div>
  </div>

  <div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-theme">
          <thead class="bg-golden">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title </th>
              <th scope="col">Remark</th>
              <th scope="col">Status</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sItem of cList | filter : { title: searchText} : false">
              <td>{{sItem?.id}}</td>
              <td class="font">{{sItem?.title}}</td>
              <td class="font-rmk">{{sItem?.remark}}</td>
              <td>
                <i *ngIf="sItem?.status == 1" class="text red-box" title="Filed">Filed</i>
                <i *ngIf="sItem?.status == 2" class="text blue-box" title="Process">Process</i>
                <i *ngIf="sItem?.status == 0" class="text green-box" title="Resolved">Resolved</i>
              </td>
              <td>
                <a class="vew-btn" (click)=viewDetail(sItem) title="View">
                  <i class="fa fa-eye text-center"></i>
                </a>
              </td>
            </tr>

          </tbody>

          <tfoot *ngIf="cList?.length">
            <tr>
              <td colspan="7" class="text-right">
                <app-pagination [page]="page" [total]="perPage" [totalPages]="totalPages"
                  (modulePagging)="mudouPagina($event)"></app-pagination>
              </td>
              <td colspan="2"></td>
            </tr>
          </tfoot>
        </table>
      </div>
  </div>
  <!-- /.col -->
</div>

<!-- Custom Modal -->
<div class="modal fade modal-s1 modal-one clear-settlement" tabindex="-1" role="dialog"
  aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h6 class="modal-title text-light" id="myCenterModalLabel"> Complain Detail <b></b></h6>
        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center" *ngIf="viewList?.image !== null && viewList?.image !== '0'">
            <a href="{{viewList.image}}" target="_blank">
              <img src="{{viewList.image}}" class="img-responsive" width="250" height="150">
            </a>
          </div>
        </div>
        <div>
          <h6>Information</h6>
          <p class="font-info">{{viewList.information}}</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h6>Created Date </h6>
            <p>{{viewList.created_at}}</p>
          </div>
          <div class="col-md-6">
            <h6>Updated Date </h6>
            <p>{{viewList.updated_at}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer raw mx-0 position-relative">
        <div class="col-12 text-center">
          <button type="button" id="close-settlement" data-dismiss="modal" aria-hidden="true"
            class="btn btn-buy">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>