.text{
    color: #e9ecef;
    font-size: 14px;
}

.blue-box {
    color: #e9ecef;
    background-color:  blue;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    line-height: 1;
    text-align: center;
    box-shadow: inset 0px -2px  cornflowerblue;
    white-space: nowrap;
    vertical-align: middle;
  }

.font{
    font-style: italic;
}
.font-rmk{
    font-style: italic;
    font-size: 13px;
}

.font-info{
    font-style: initial;
    font-size: 13px;
}

.vew-btn :hover{
    cursor: pointer;
    color: red;
}



.example-list {
    min-height: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 3px 3px -3px #645f5f,
                0 3px 6px 1px #fff,
                0 3px 8px 2px #fff;
  }
  
.cdk-drag-placeholder {
    opacity: 0;
  }
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
    
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }